<LINK rel="stylesheet" type="text/css" href="/css/createparty.css">

<div class="wrapper">
    <div class="txt">
        <center>
            <a class="atag2" ng-click="do1show();"><button class="button2" id="button1">ちょいのみ</button></a>
            <a class="atag2" ng-click="do2show();"><button class="button1" id="button2">テーマのみ</button></a>
            <a class="atag2" ng-click="do3show();"><button class="button1" id="button3">ランダムのみ</button></a>
        </center>

        <div ng-if="buttonflag1">
            <form  name="myForm"  id="myForm" ng-controller="Tyo_partyTorokuController">

                <center>
                    <br>

                    <div class="select-wrappermain">ちょい飲み基本設定<font color="red">（必須）</font>
                    </div>


                    <div class="temamenu">
                        <input placeholder="ちょい飲み会名" ng-model-options="{updateOn: 'blur'}" type="party_name" name="party_name" ng-model="party_name" size="20"
                               autocomplete="off" ng-maxlength="20" class="js-characters-change" required style="border:0; padding: 0px 0px 0px 30px;">
                    </div>



                    <div class="select-wrapper">                    
                        <select class="pulldowndiv" ng-model="starttime" ng-options="starttime01.starttime for starttime01 in starttime_groups" ng-change="deadline_time_change();">
                            <option value="">開始時刻選択▼</OPTION>
                        </select>
                    </div>


                    <div class="select-wrapper">                    
                        <select class="pulldowndiv" ng-model="deadline"  ng-options="repoName as repoName.deadline for repoName in deadlineList">
                            <option value="">締切時刻選択▼</OPTION>
                        </select>
                    </div>


                    <br>
                    <br>



                    <center>
                        <!--                    <div class="txt2" ng-click="doTyo_partyToroku();"><button id="create">create</button></div>-->
                        <div class="txt2" ng-disabled="myForm.$invalid" ng-click="doTyo_partyToroku();" ><button id="create">create</button></div>
                    </center>

                </center>

            </form>

        </div>
        <div ng-if="buttonflag2" ng-controller="createpartyController">
            <form method="POST" name="myForm" id="myForm" >

                <center>
                    <br>

                    <div class="select-wrappermain">テーマのみ基本設定<font color="red">（必須）</font>
                    </div>

                    <div class="temamenu">
                        <input placeholder="テーマ飲み会名" ng-model-options="{updateOn: 'blur'}" type="party_name" name="party_name" ng-model="party_name" size="20"
                               autocomplete="off" ng-maxlength="20" class="js-characters-change" required style="border:0; padding: 0px 0px 0px 30px;" ng-change="changename();">
                    </div>

                    <div class="select-wrapper">                    
                        <select class="pulldowndiv" ng-model="selectedthemename" ng-options="repoName as repoName.like_name for repoName in repoThemeNameArr.m_LikesEntity_list" ng-change="changetheme();">
                            <option value="">飲み会テーマ選択▼</OPTION>
                        </select>
                    </div>

                    <div class="select-wrapper">                    
                        <select class="pulldowndiv" ng-model="selectedthemedate" ng-options="repoName as repoName.value for repoName in repoNameArr1" ng-change="changedate();">
                            <option value="">開催日選択▼</OPTION>
                        </select>
                    </div>

                    <div class="select-wrapper">
                        <select class="pulldowndiv" ng-model="selectedthemetime" ng-options="repoName as repoName.value for repoName in repoNameArr2" ng-change="changetime();">
                            <option value="">開催時間選択▼</OPTION>
                        </select>
                    </div>

                    <div class="select-wrappermain"  ng-click="dosyosaiadd();">{{accord01 ? "テーマのみ詳細設定(任意)▲" : "テーマのみ詳細設定(任意)▼"}}
                    </div>
                    <dd ng-show="accord01">
                        <div class="select-wrapper">
                            <select class="pulldowndiv" ng-model="themeArea" ng-options="repoName as repoName.label for repoName in repoAreaArr">
                                <option value="">開催エリア選択▼</OPTION>
                            </select>
                        </div>
                        <div class="select-wrapper">
                            <select class="pulldowndiv" ng-model="themeGenre" ng-options="repoName as repoName.label for repoName in repoGenreArr">
                                <option value="">開催ジャンル選択▼</OPTION>
                            </select>
                        </div>
                        <div class="select-wrapper">
                            <select class="pulldowndiv" ng-model="themeKaisaimax" ng-options="repoName as repoName.label for repoName in repoKaisaimaxArr">
                                <option value="">開催上限人数選択▼</OPTION>
                            </select>
                        </div>
                        <div class="select-wrapper">
                            <select class="pulldowndiv" ng-model="themeBosyumax" ng-options="repoName as repoName.label for repoName in repoBosyumaxArr">
                                <option value="">募集上限人数選択▼</OPTION>
                            </select>
                        </div>
                        <div class="select-wrapper">
                            <select class="pulldowndiv" ng-model="themedeaddate" ng-options="repoName as repoName.value for repoName in deaddatelist">
                                <option value="">締め切り日付選択▼</OPTION>
                            </select>
                        </div>
                        <div class="select-wrapper">
                            <select class="pulldowndiv" ng-model="themedeadtime" ng-options="repoName as repoName.value for repoName in repodeadtimeArr">
                                <option value="">締め切り時間選択▼</OPTION>
                            </select>
                        </div>           
                    </dd>

                    <br>
                    <center>
                        <div class="txt2" ng-click="doTheme_partyToroku();"><button id="create" ng-disabled="hissu1 == true || hissu2 == true || hissu3 == true || hissu4 == true">create</button></div>
                    </center>
            </form>
            </center>       
        </div>
        <div ng-if="buttonflag3">
            <center>
                <br>
                まだコンテンツなし
            </center>
        </div>
    </div>
</div>
