<!--
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-nav">
            <button class="navbar-toggle collapsed" type="button"  >
            </button>
            <a class="navbar-brand" ng-href="#/">ログイン</a>
        </div>
    </div>
</nav> -->

<form method="post" name="myForm"  id="myForm">
    <div class="wrapper">
        <div class="txt">
    <div>メールアドレス<br>　{{results.email}} </div><br>
    <p>パスワード</p>
    <input ng-model-options="{updateOn: 'blur'}" type="password"  name="password"  ng-model="password"   size="20"
           autocomplete="off" ng-maxlength="15" ng-minlength="4" class="js-characters-change" required>
    <p><span class="text-danger" ng-show="myForm.password.$error.required && myForm.$dirty">入力必須項目です</span></p>
    <p><span class="text-danger" ng-show="myForm.password.$error.maxlength">パスワードが長すぎます</span></p>
    <p><span class="text-danger" ng-show="myForm.password.$error.minlength">パスワードが短すぎます</span></p>
    <br>
    <p>確認のため、再度入力して下さい</p>
    <input ng-model-options="{updateOn: 'default blur' , debounce: {'default': 1000, 'blur': 0} }"  type="password"  name="password_cfm" ng-model="password_cfm" size="20"
                   autocomplete="off" match="password" required>
            <p><span class="text-danger" ng-show="myForm.password_cfm.$error.required && myForm.password_cfm.$dirty">入力必須項目です</span></p>
            <p><span class="text-danger" ng-show="myForm.password_cfm.$error.mismatch">パスワードが一致していません</span></p>
       
        <br>
        <center>
        <div ng-disabled="myForm.$invalid" class="btn btn-warning btn-lg" ng-click="doEntry();"> Entry </div>        </center>

         </div>
        <!--<input   class="btn btn-warning btn-lg"  type="button"  name="button" id="button_toroku"   value="&nbsp;&nbsp;&nbsp;&nbsp;登録&nbsp;&nbsp;&nbsp;&nbsp;" ng-disabled="myForm.$invalid">-->
        <br><br><br>
    </div>
</form>
<nav class="navbar navbar-inverse navbar-default"></nav>


