<LINK rel="stylesheet" type="text/css" href="/css/checkbox_radio.css">
<form method="POST"  name="myForm"  id="myForm" > <!--ng-controller="FriendsTorokuController">-->
    <div class="wrapper">
        <div class="txt">          
            <center>    つながり検索一覧   </center><br>


            <span ng-repeat-start="friend in fresearch_results.friends track by $index">
                <p ng-if="friend.sflag == 0">
                    <input type="checkbox" checked id="checkbox{{$index}}" ng-true-value="true" ng-false-value="false" 
                           ng-model= "ftoroku.result[friend.user_id]">
                    <label for="checkbox{{$index}}" class="checkbox"> 
                        {{friend.name}} <br> ({{friend.rmail}})
                    </label>
                </p>
                <span ng-if="friend.sflag != 0">
                    ● {{friend.name}}　
                    <input type="button" value="申請済" style="background-color:#ffffff;border-color:#ff6868;border-width:2px">
                    <br> ({{friend.rmail}})
                </span>
            </span>
            <br ng-repeat-end />
            <p ng-if=""> 
                <br>
            <div class="btn_orange" ng-click="doFriendsToroku()">登録申請</div>          
            <p>
        </div>
    </div>
</form>

<!--</body>
</html>-->



