
<form method="post" action="friendstoroku"  name="myForm"  id="myForm" > <!-- ng-controller="FriendsTorokuContoroller"> -->
    <div class="wrapper">
        <div class="txt">

            <center>    検索条件   </center><br>
            
            <b><FONT FACE="Webdings">&#97</FONT>アドレス検索</b><br>

            <input type="text" name="mail" id="mail" placeholder="検索文字列を入力して下さい" ng-model="mail" size="25"
                   autocomplete="off" ng-maxlength="40"  required>
            <p><span class="text-danger" ng-show="myForm.mail.$error.maxlength">40文字以内で入力して下さい</span></p>
            <br>
            <b><FONT FACE="Webdings">&#97</FONT>所属部署名検索</b><br>
            <select name="Department"    id="Department"  ng-model="department_id">
                <option value="">選択してください</option>
                <option value="1">証券システムプロジェクト部</option>
                <option value="2">証券リテールフロントシステム一部</option>
                <option value="3">証券リテールフロントシステム二部</option>
                <option value="4">証券リテールフロントシステム三部</option>
                <option value="5">証券コアシステム一部</option>
                <option value="6">証券コアシステム二部</option>
                <option value="7">証券コアシステム三部</option>
                <option value="8">証券グローバルシステム一部</option>
                <option value="9">証券グローバルシステム二部</option>
                <option value="10">証券グローバルシステム三部</option>
            </select>
            <br><br>
            <center>
            <div ng-disabled="myForm.$invalid" class="btn_orange" ng-click="doFriendsKensaku();">検索</div></center>
<!--            <div ng-disabled="myForm.$invalid" class="btn btn-warning btn-lg" ng-click="doKihonToroku();">登録</div></center>-->

        </div>
        <br><br>
        <!--                 <input   class="btn btn-warning btn-lg"  type="button" name="button" id="button_kihon"  value="&nbsp;&nbsp;登録&nbsp;&nbsp;" ng-disabled="myForm.$invalid" > -->
         <!--  <div ng-disabled="myForm.$invalid" class="btn btn-warning btn-lg" ng-click="doKihonToroku();">登録</div> -->
        <br><br><br>
    </div>
</form>
