<!-- <div style="background-color:#FFF;" ng-controller="FriendsSansyoController"> -->
<form method="post" name="myForm"  id="myForm">
    <div class="wrapper">
        <div class="txt">
             <center> 
           　<h1>つながり申請完了</h1>
             <br>
             <!--<p class="btn_orange" ng-click="doFriendsSansyo();">飲み友一覧</p>-->
              
            <a ng-href="#/friendssansyo">
                <button class="btn_orange"> 一覧 </button>
            </a>

            <a ng-href="#/mypage">
                <button class="btn_orange"> マイページ </button>
            </a>
             

             </center>
            <br>
        </div>
    </div>
</form>
<!-- </div> -->










