<div>
    <div class="wrapper">
        <div class="txt">  
            <a ng-href="#/friendskensaku">
                <div>つながり登録</div>
            </a>
            <br>
            <a ng-href="#/friendssansyo">
                <div>つながり一覧</div>
            </a>
            <br>
            <a ng-href="#/mypage">
                <div>つながりリクエスト</div>
            </a>
        </div>
    </div>
</div>
