<!-- <div style="background-color:#FFF;" ng-controller="FriendsSansyoController"> -->
<form method="post" name="myForm"  id="myForm">
    <div class="wrapper">
        <div class="txt">
             <center> 
           　<h1>つながり一覧</h1>
             </center> 
             <br>
             
                <label ng-repeat-start="result in results.friends_list">
                    <p ng-if="result.flag == 1">
                        <tr>○{{result.friend_name}}</tr>
                        <br>
                        <tr>　({{result.friend_mail}})</tr>
                    </p>
                    <p ng-if="result.flag == 0">
                        <tr>●{{result.friend_name}}　<input type="button" value="申請中" style="background-color:#ffffff;border-color:#2864f0"></tr>                   
                        <br>
                        <tr>　({{result.friend_mail}})</tr>
                    </p>
                </label>                 
                <br ng-repeat-end />    
             
             <br>
             
 <!--            <center> 
             <a ng-href="#/mypage">
                <button class="btn_orange">マイページ</button>
             </a>
             </center>  -->
                
        </div>
    </div>
</form>
<!-- </div> -->










