
<div>
    <div class="wrapper">
        <div class="txt">                  
            <span><b><FONT FACE="Webdings">&#97</FONT>メールアドレス</b></span><br>
            <div>
                <a href="#" editable-text="results.email" ng-blur="updateOn();">{{ results.email || "empty" }}</a>
            </div>
            <br>
            <span><b><FONT FACE="Webdings">&#97</FONT>ニックネーム</b></span><br>
            <div>
                <a href="#" editable-text="results.name" ng-blur="updateOn();">{{ results.name || "empty" }}</a>
            </div>
            <br>
            <span><b><FONT FACE="Webdings">&#97</FONT>所属部署名</b></span><br>
            <div>
                <a href="#" ng-blur="updateOn();" editable-select="results.department_id" e-ng-options="s.value as s.text for s in statuses">
                    {{ showStatus()}}
                </a>
            </div>
            <br>
            <span><b><FONT FACE="Webdings">&#97</FONT>入社年度</b></span><br>
            <div>
                <a href="#" editable-text="results.joinedyear" ng-blur="updateOn();">{{ results.joinedyear || "empty" }}</a>
            </div>
            <br>
            <center>
                <div ng-show="updateflag" class="btn_orange" ng-click="doKihonUpdate();">更新</div>
<!--                <div ng-show="updateflag" class="btn btn-warning btn-lg" ng-click="doKihonUpdate();">更新</div>-->
                <br>
                <u><a ng-show="updateflag" style="font-size:12pt" ng-click = "reload();">変更を元に戻す</a></u>
            </center>
        </div>
    </div>
</div>



