
<form method="post" action="kihontoroku"  name="myForm"  id="myForm" ng-controller="KihonTorokuContoroller">  
    <div class="wrapper">
        <div class="txt">
            
            <b><FONT FACE="Webdings">&#97</FONT>生年月日</b><br>
            
            <input type="text" name="birth" id="birth" placeholder="半角数字8桁" ng-model="birth" size="8"
                   autocomplete="off" ng-maxlength="8" ng-pattern="/^[\x01-\x7E]+$/" required>
            <p><span class="text-danger" ng-show="myForm.birth.$error.maxlength">ex.20170101</span></p>
            <p><span class="text-danger" ng-show="myForm.birth.$error.pattern">半角以外の数値が入力されています</span></p>
                       
            <b><FONT FACE="Webdings">&#97</FONT>入社年</b><br>
            <!--            <input type="text" name="joined"  id="joined" placeholder="&nbsp;2016"  ng-model="joinedyear"  size="25"
                               autocomplete="off" ng-minlength="4" ng-maxlength="4"   class="js-characters-change" required>-->
            <select name="joined"    id="joined"  ng-model="joinedyear">
                <option value="">選択してください</option>
                <option value="1960">1960</option>
                <option value="1961">1961</option>
                <option value="1962">1962</option>
                <option value="1963">1963</option>
                <option value="1964">1964</option>
                <option value="1965">1965</option>
                <option value="1966">1966</option>
                <option value="1967">1967</option>
                <option value="1968">1968</option>
                <option value="1969">1969</option>
                <option value="1970">1970</option>
                <option value="1971">1971</option>
                <option value="1972">1972</option>
                <option value="1973">1973</option>
                <option value="1974">1974</option>
                <option value="1975">1975</option>
                <option value="1976">1976</option>
                <option value="1977">1977</option>
                <option value="1978">1978</option>
                <option value="1979">1979</option>
                <option value="1980">1980</option>
                <option value="1981">1981</option>
                <option value="1982">1982</option>
                <option value="1983">1983</option>
                <option value="1984">1984</option>
                <option value="1985">1985</option>
                <option value="1986">1986</option>
                <option value="1987">1987</option>
                <option value="1988">1988</option>
                <option value="1989">1989</option>
                <option value="1990">1990</option>
                <option value="1991">1991</option>
                <option value="1992">1992</option>
                <option value="1993">1993</option>
                <option value="1994">1994</option>
                <option value="1995">1995</option>
                <option value="1996">1996</option>
                <option value="1997">1997</option>
                <option value="1998">1998</option>
                <option value="1999">1999</option>
                <option value="2001">2001</option>
                <option value="2002">2002</option>
                <option value="2003">2003</option>
                <option value="2004">2004</option>
                <option value="2005">2005</option>
                <option value="2006">2006</option>
                <option value="2007">2007</option>
                <option value="2008">2008</option>
                <option value="2009">2009</option>
                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>

            </select><b>年</b><br>


            <p><span class="text-danger" ng-show="myForm.joined.$error.maxlength">西暦4桁で入力して下さい</span></p>

            <b><FONT FACE="Webdings">&#97</FONT>ニックネーム</b><br>

            <input type="text" name="name" id="name" placeholder="20文字以内で入力して下さい" ng-model="name" size="25"
                   autocomplete="off" ng-maxlength="20"  required>
            <p><span class="text-danger" ng-show="myForm.name.$error.maxlength">20文字以内で入力して下さい</span></p>

            <b><FONT FACE="Webdings">&#97</FONT>所属部署名</b><br>
            <select name="Department"    id="Department"  ng-model="department_id">
                <option value="">選択してください</option>
                <option value="1">証券システムプロジェクト部</option>
                <option value="2">証券リテールフロントシステム一部</option>
                <option value="3">証券リテールフロントシステム二部</option>
                <option value="4">証券リテールフロントシステム三部</option>
                <option value="5">証券コアシステム一部</option>
                <option value="6">証券コアシステム二部</option>
                <option value="7">証券コアシステム三部</option>
                <option value="8">証券グローバルシステム一部</option>
                <option value="9">証券グローバルシステム二部</option>
                <option value="10">証券グローバルシステム三部</option>
            </select>
            <br><br>
            <center>
                <div ng-disabled="myForm.$invalid" class="btn_orange" ng-click="doKihonToroku();">登録</div></center>
            <!--            <div ng-disabled="myForm.$invalid" class="btn btn-warning btn-lg" ng-click="doKihonToroku();">登録</div></center>-->

        </div>
        <br><br>
        <!--                 <input   class="btn btn-warning btn-lg"  type="button" name="button" id="button_kihon"  value="&nbsp;&nbsp;登録&nbsp;&nbsp;" ng-disabled="myForm.$invalid" > -->
        <!--  <div ng-disabled="myForm.$invalid" class="btn btn-warning btn-lg" ng-click="doKihonToroku();">登録</div> -->
        <br><br><br>
    </div>
</form>
