
<div>
    <div class="wrapper">
        <div class="txt">
            <center>
            <div>◆　気になること一覧　◆</div>
            </center>
            <table>
                <label ng-repeat-start="result in results.kininaruSansyoWebOutDto">
                    <tr>&nbsp;&nbsp;&nbsp;{{result.like_name}}</tr>                    
                </label>
                <br ng-repeat-end />
            </table>
            </center>
    
            <center>
            
            <br>
            <div class="btn_orange"><a ng-href = "#/delete">削除画面</a></div>
            <!--<br>-->
            <div class="btn_orange"><a ng-href = "#/likes">追加登録画面</a></div>
<!--            <div class="btn btn-warning btn-lg"><a ng-href = "#/delete">削除画面へ</a></div>
            <br>
            <div class="btn btn-warning btn-lg"><a ng-href = "#/likes">追加登録画面へ</a></div>-->
            </center>
        </div> 
    </div>
</div>

<!--</body>
</html>-->



