<LINK rel="stylesheet" type="text/css" href="/css/kininaru.css">
<div class="wrapper">
    <div class="txt">
        <span>気になること登録</span><br>
        <!--        <dl class="accordion">
                    <dt ng-click="flag = !flag">割り勘</dt>
                    <dd ng-class="{show: flag}">-->
        <!--ng-click="accordFilter($index)"-->
        <!--        <label for="switch">表示：</label>-->
        <!--        <input id="switch" type="checkbox" ng-model="accord" />
        -->
        <ul>
            <!--マスタの情報をそのままリピートして、必要なものだけをshowしている。
            クリック時に、ng-showで判定して、該当の区分を表示(JS側で色づけ(ng-classの変数を変える))-->
            <li class="accord0"
                ng-repeat-start ="result in results.kininaruSettingWebOutDto"
                ng-click="doFilter(result)"  
                ng-show="result.like_second_cd == 0
                                            || (result.like_first_cd == accord1 && result.like_no == 0)
                                            || (result.like_first_cd == accord1 && result.like_second_cd == accord2 && result.like_no != 0)"
                ng-class="cssChange(result)"
                ng-attr-id="{{'likes_' + $index}}">
                <!--                <div ng-show="!showActions" ng-swipe-left="showActions = true">-->
                <!--                <div ng-show="!showActions" ng-swipe-left="doSwipeLeft(result)">-->
                <div  ng-swipe-right="doSwipeRight($index)" ng-swipe-left="doSwipeLeft($index)">
                    {{result.like_name}}
                </div>
                <!--                                    <div ng-show="showActions" ng-swipe-right="showActions = false" style="background-color: rgba(254,123,34,0.9)">
                                    {{result.like_name}}
                                </div>-->
                <!--新規タグ追加用のテキストボックスとボタンの設置。これも、上記と同様にすべての項目の後ろについているが、該当箇所のみをng-showで表示している-->
                <div ng-show="results.kininaruSettingWebOutDto[$index + 1].like_first_cd == result.like_first_cd + 1 ||
                                            (results.kininaruSettingWebOutDto[$index + 1].like_second_cd == result.like_second_cd + 1 && result.like_second_cd != 0)" 
                     style="border-top: 1px solid #000000;"
                     >
                    <input type="text" style="width:300px; height:40px; margin-top:5px;"
                           ng-model="add_like_name.like_name" />
                    <div  class="btn btn-warning btn-lg" style="margin-left: 10px" ng-click="doAddLikes($index)" >項目追加</div>
                </div>
                <!--上記のやり方では、一番最後の項目には生成できないので(条件としてindex+1を用いているが最後のものには無いため)$lastで生成-->
                <div ng-show="$last" style="border-top: 1px solid #000000;">
                    <input type="text"  
                           ng-model="add_like_name.like_name"style="width:300px; height:40px; margin-top:5px;"/>
                    <div class="btn btn-warning btn-lg" style="margin-left: 10px" ng-click="doAddLikes($index)">項目追加</div>
                </div>
            <li ng-repeat-end="showActions = false">
        </ul>
        <div class="btn_orange" ng-click="doCheckLikes()">登録</div>
    </div>
</div>
