<link rel="stylesheet" href="../css/checkbox_radio.css" type="text/css"/>

<div>
    <div class="wrapper">
        <div class="txt">
            <center>
            <div>◆　気になること一覧　◆</div>
            </center>
            <table>
                <input  ng-repeat-start="result in results.kininaruSansyoWebOutDto track by $index" type="checkbox" ng-true-value="true" ng-false-value="false"
                        ng-model= "delete_data.delete[result.artifact_id]" checked id="checkbox{{$index}}">
                <label for="checkbox{{$index}}" class="checkbox">
                      {{result.like_name}}
                </label>
                <br ng-repeat-end />
            </table>
            </center>
            
    
            <center>
            
            <br>
            <div class="btn btn_orange" ng-click="dokininarudelete()">削除実行</div>
<!--            <div class="btn btn-danger btn-lg" ng-click="dokininarudelete()">削除実行</div>-->
            <br>
            </center>
        </div> 
    </div>
</div>

<!--</body>
</html>-->



