<!DOCTYPE html>

<html  ng-app="MyApp" >
    <head>

        <!--SPAの実装用-->
        <script src="/views/scripts/angular.min.js"></script>
        <script src="/views/scripts/xeditable.min.js"></script>
        <script src="/views/scripts/angular-route.min.js"></script>
        <script src="/views/scripts/jquery.min.js"></script>
        <script src="/views/scripts/bootstrap.min.js"></script>
        <script src="/views/scripts/ui-bootstrap-tpls.min.js"></script>
        <script src="/views/scripts/angular-animate.min.js"></script>
        <script src="/views/scripts/angular-touch.min.js"></script>

        <script src="/views/scripts/route.js"></script>
        <script src="/views/scripts/controller/top_controller.js"></script>
        <script src="/views/scripts/controller/mypage_controller.js"></script>
        <script src="/views/scripts/controller/usertoroku_controller.js"></script>
        <script src="/views/scripts/controller/kihontoroku_controller.js"></script>
        <script src="/views/scripts/controller/jyohosyosai_controller.js"></script>
        <script src="/views/scripts/controller/tyopartytoroku_controller.js"></script>
        <script src="/views/scripts/controller/tyo_partykakunin_controller.js"></script>
        <script src="/views/scripts/controller/rakurakusansyo_controller.js"></script>
        <script src="/views/scripts/controller/friendssansyo_controller.js"></script>
        <script src="/views/scripts/controller/friendstoroku_controller.js"></script>
        <script src="/views/scripts/controller/party_controller.js"></script>
        <script src="/views/scripts/controller/party_top_controller.js"></script>
        <script src="/views/scripts/controller/dialog_usertoroku_controller.js"></script>

        <script src="/views/scripts/controller/tyo_partyKaitouController.js"></script>
        <script src="/views/scripts/controller/rakurakuseisan_controller.js"></script>
        <script src="/views/scripts/controller/kininaru_controller.js"></script>

        <script src="/views/scripts/controller/createparty_controller.js"></script>
        <script src="/views/scripts/controller/syukkestupop_controller.js"></script>
        <script src="/views/scripts/controller/themesyosaipop_controller.js"></script>
        <script src="/views/scripts/controller/tyosyosaipop_controller.js"></script>
        <script src="/views/scripts/controller/matching_controller.js"></script>

        <script src="/views/scripts/jquery.min.js"></script>	
        <script src="/views/scripts/html5shiv.min.js"></script>
        <script src="/views/scripts/respond.min.js"></script>
        <script src="/views/scripts/an.js"></script>


        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <LINK rel="stylesheet" type="text/css" href="/css/style.css">
        <LINK rel="stylesheet" type="text/css" href="/css/xeditable.min.css">
        <title>Bump</title>
    </head>

    <body>
    <center>
        <br><br>
        <div ng-view></div>
        <br>
    </center>
</body>
<!--ヘッダーのところ-->

<nav class="navbar navbar-inverse navbar-fixed-top" ng-if="header">
    <div class="container-fluid" style="background-color: white;">
        <a ng-href="#/mypage" >
            <button class="icon_home"></button>
        </a>
        　　<a ng-href="#/mypage">
            <button class="icon_mypage_top"></button>
        </a>

        　<a ng-href="#/createparty" >
            <button class="icon_create"></button>
        </a>
    </div>
</nav>

<!--フッターのアイコンボタンのところ-->
<nav class="navbar navbar-inverse navbar-fixed-bottom" ng-if="header">
        <div class="container-fluid" style="background-color: white;">
            <a ng-href="#/tyo_partyKaitou">
                <button class="icon_tsuchi">
                    <p class="badge" ng-if="show">
                        <span class="inner">{{tsuchicount}}</span>
                    </p>
                </button>
            </a>
            <a ng-href="#/friendssettings">
                <button class="icon_friends"></button>
            </a>
            <a ng-href="#/mypagenomiyotei">
                <button class="icon_history"></button>
            </a>
            <a ng-href="#/personalsettings">
                <button class="icon_setting"></button>
            </a>
        </div>
</nav>

</html>
