<LINK rel="stylesheet" type="text/css" href="/css/matching.css">
<div class="wrapper">
    <div class="txt">
        <span style="font-size:50px;font-family:Century Gothic;">■テーマ飲み</span><br>
        マッチング
        <ul class="tabrow2" >
            <li id="maru">
                <a class="atag2" ng-click="domaru();">可</a>
            </li>・
            <li id="batsu" >
                <a class="atag2" ng-click="dobatsu();">不可</a>
            </li>
        </UL><br>  
        <div style="font-size:10px">　　</div>
        <div class="temamenu"  ng-click="accord01 = !accord01" style="font-size:30px">{{accord01 ? "マッチング詳細設定▲" : "マッチング詳細設定▼" }}</div>
        <div style="font-size:10px">　　</div>
        <dd ng-show="accord01">
            マッチング範囲▼
            <ul class="tabrow2" >
                <li id="all">
                    <a class="atag2" ng-click="doT_interact_all();">誰でも</a>
                </li>・
                <li id="friend" >
                    <a class="atag2" ng-click="doT_interact_friend();">つながり</a>
                </li>・
                <li id="department" >
                    <a class="atag2" ng-click="doT_interact_department()();">同部署のみ</a>
                </li>
            </ul>
            <div style="font-size:10px">　　</div>
            <div class="select-wrapper">
                飲み会開催エリア選択(最大3つまで)▼
                <select ng-model="t_area1" ng-options="repoName as repoName.label for repoName in repoAreaArr">
                </select>
                <select ng-model="t_area2" ng-options="repoName as repoName.label for repoName in repoAreaArr">
                </select>
                <select ng-model="t_area3" ng-options="repoName as repoName.label for repoName in repoAreaArr">
                </select>
            </div> 

            <div style="font-size:10px">　　</div>
            飲み会開始時刻選択▼<br>
            <select ng-model="t_time" ng-options="repoName as repoName.value for repoName in repoNameArr2" style="display:inline">
            </select>
        </dd>


        <div class="btn_orange" ng-click="doCheckMatching()">登録</div>

    </div>
</div>
