<LINK rel="stylesheet" type="text/css" href="/css/mypage.css">

<div class="wrapper">
    <!--    <img src="/jpg/memoue.jpg"/>-->
    <div class="txt_mypage">
        <!--        <div id="memoue">
                </div>-->
        飲み会予定一覧
        <br>
        <div ng-if="syotaiflag">
            <FONT FACE="Webdings">&#97</FONT>本日の飲み会予定
            <table class="table" style="background-color:white">
                <tbody>
                    <tr ng-repeat="res in results.t_partiesEntity_list">
                        <td ng-if="res.user_id">{{res.date}}</td>
                        <td ng-if="res.user_id">{{res.time}}</td>
                        <td ng-if="res.user_id"><a ng-href={{res.url_id}}>{{res.party_name}}</a></td>
                        <td ng-if="res.user_id" style="color:red">{{res.payer_id}}</td>
                    </tr>
                </tbody>
            </table>
            <FONT FACE="Webdings">&#97</FONT>今後の飲み会予定
            <table class="table" style="background-color:white">
                <tbody>
                    <tr ng-repeat="res in results.t_partiesEntity_list">
                        <td ng-if="res.party_cd">{{res.date}}</td>
                        <td ng-if="res.party_cd">{{res.time}}</td>
                        <td ng-if="res.party_cd"><a ng-href={{res.url_id}}>{{res.party_name}}</a></td>
                        <td ng-if="res.party_cd" style="color:red">{{res.payer_id}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="!syotaiflag">
            <center>
                <br>
                飲み会予定はありません<br>
                飲み会を開催しましょう！！
                <br>
                <br>
                <div>
                    <a ng-href="#/createparty"><button id="create">+新規作成</button></a>
                    <!--            <a ng-href="#/createparty"><button id="create">+create new</button></a>-->
                </div>
            </CENTER>
        </div>
    </div>
</div>