<LINK rel="stylesheet" type="text/css" href="/css/partypage.css">
<LINK rel="stylesheet" type="text/css" href="/css/tagomori.css">

<div>
    <div class="wrapper">
        <div class="txt">
            <div class="nomikaibar">
                {{results.t_PartiesEntitylist[0].party_name}}
                <span class="nomikaicategory"><img align="top" ng-src="../jpg/{{nomikai}}.jpg" /></span>
            </div>
            ・主催者：{{ownername}}<br>
            ・開催日：{{kaisaibi}}<br>
            ・開催時間：{{kaisaijikan}}<br>
            ・{{username}}さんの出欠ステータス:<ul class="tabrow2" ><li id="maru"><a class="atag2" ng-click="dosyusseki();">○</a></LI><li id="batsu" ><a class="atag2" ng-click="dokesseki();">×</a></li></UL><br>
            <br>

            <ul class="tabrow">
                <li class="selected" id="tab1"><a class="atag2" ng-click="dotab1show();">招待者一覧</a></li>
                <li id="tab2"><a class="atag2" ng-click="dotab2show();">精算</a></li>
                <li id="tab3"><a class="atag2" ng-click="dotab3show();">未実装</a></li>
                <li id="tab4"><a class="atag2" ng-click="dotab4show();">未実装</a></li>
            </ul>

            <div style="border-top: 5px solid rgba(255,140,0,0.6);">


                <div ng-if="tabflag1">
                    <br>
                    <center>
                        <table class="table" style="background-color:white">
                            <thead style="background-color:rgba(255,140,0,0.3)">
                                <tr><th>招待メンバー</th><th>参加区別</th></tr>
                            </thead>
                            <tbody style="background-color:rgba(255,140,0,0.1)">
                                <tr ng-repeat="res in results.t_Parties_UsersEntitylist">
                                    <td>{{res.name}}</td>
                                    <td>{{res.party_id}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                </div>
                <center ng-if="tabflag2">
                    <br>
                    <ul class="tabrow2">
                        <li class="selectedstatus" id="rakuSansyo"><a class="atag2" ng-click="showSansyo();">精算額参照</a></li>
                        <li id="rakuSeisan"><a class="atag2" ng-click="showSeisan();">精算額設定</a></li>
                    </ul>
                </center>
                <div ng-if="tabflag2 && rakuShowFlag">

                    <center ng-if="payerflag">
                        <br>
                        <table class="table" style="background-color:white">
                            <thead style="background-color:rgba(255,140,0,0.3)">
                                <tr><th>参加者名</th><th>精算額</th><th></th></tr>
                            </thead>
                            <tbody  style="background-color:rgba(255,140,0,0.1)">
                                <tr ng-repeat="res in results.t_Parties_UsersEntitylist">
                                    <td>{{res.name}}</td>
                                    <td  editable-text="res.payment">{{res.payment}}円</td>
                                    <!--                            <button class="icon_setting"></button>-->
                                    <td><button class="icon_koshin" ng-click="doSeisanUpdate($index);" ></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <div class="btn_orange" ng-click="doTsuti();">メールを送る</div>
                    </center>

                    <center ng-if="payerflag2">
                        精算機能は、飲み会開催者もしくは会計管理者のみが利用できます。
                    </center>
                </div>
                <div ng-if="tabflag2 && !rakuShowFlag" ng-controller="RakurakuSeisanController">
                    <center>
                        <h2>らくらく精算</h2>
                        <table class="table" style="background-color:white">
                            <thead style="background-color:rgba(255,140,0,0.3)">
                                <tr >
                                    <th colspan="2"><center>飲み会基本情報</center></th>
                            </tr>
                            </thead>
                            <!--                                <tr>
                                                                <th><b>飲み会名</b></th>
                                                                <td><SELECT ng-model="party_id" ng-change="doCount()" ng-init="party_id = '0'">
                                                                        <OPTION SELECTED VALUE="0">選択してください
                                                                        <OPTION ng-repeat="party in setting.t_partieslist" VALUE={{party.party_id}}>{{party.party_name}}
                                                                    </SELECT><br>
                                                                </td> 
                                                            </tr>-->
                            <tbody  style="background-color:rgba(255,140,0,0.1)">
                                <tr>
                                    <th><label for="payment">お会計</label></th>
                                    <td><input type="text" name="payment" id="payment" size="10" ng-model="payment" ng-blur="doCount()" ng-init="payment = 0">円<br>
                                        <span class="supplement">※半角数字で入力してください</span></td>
                                </tr>
                            </tbody>
                        </table> 
                        <br>
                        <table  class="table" style="background-color:white">
                            <thead style="background-color:rgba(255,140,0,0.3)">
                                <tr  class="accordion" ng-click="flag = !flag">
                                    <th colspan="2"><center>割り勘</center></th>
                            </tr>
                            </thead>
                            <!--                            <dl class="accordion">
                                                            <dt ng-click="flag = !flag">割り勘</dt>
                                                            <dd ng-class="{show: flag}">-->
                            <tbody style="background-color:rgba(255,140,0,0.1)" ng-class="{show: flag}">
                                <tr>
                                    <th><label for="count">支払い者</label></th>
                                    <td><div ng-if="party_id == 0"> 飲み会名が選択されていません </div>
                                        <div ng-if="user.party_id == party_id && (user.attend_cd == 0 || user.attend_cd == 2)" ng-repeat="user in setting.t_parties_userslist" >
                                            <input type="checkbox" ng-model="user.count" ng-click="doCount()">{{doSetname(user.user_id)}} さん <br>
                                        </div>
                                </tr>
                                <tr  class="arbitrary">
                                    <td colspan="2">
                            <center>
                                割り勘金額　　一人当たり {{payment > 0 ? doKeisan() : 0}} 円
                            </center>
                            </td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="btn btn-warning btn-lg" ng-click="doWarikan();"> 割り勘で登録 </p><br><br>

                        <table  class="table" style="background-color:white">
                            <thead style="background-color:rgba(255,140,0,0.3)">
                                <tr  class="accordion" ng-click="flag = !flag1">
                                    <th colspan="2"><center>年次別比率設定</center></th>
                            </tr>
                            </thead>
                            <!--                            <dl class="accordion">
                                                            <dt ng-click="flag1 = !flag1">年次別比率設定</dt>
                                                            <dd ng-class="{show: flag1}">-->
                            <tbody ng-class="{show: flag1}" style="background-color:rgba(255,140,0,0.1) ; font-size : 25px">
                                <tr>
                                    <th>年次設定１</th>
                                    <td><SELECT ng-model="nenji1" ng-init="nenji1 = '0'">
                                            <OPTION SELECTED VALUE="0">入社年
                                            <OPTION VALUE="1965">1965
                                            <OPTION VALUE="1966">1966
                                            <OPTION VALUE="1967">1967
                                            <OPTION VALUE="1968">1968
                                            <OPTION VALUE="1969">1969
                                            <OPTION VALUE="1970">1970
                                            <OPTION VALUE="1971">1971
                                            <OPTION VALUE="1972">1972
                                            <OPTION VALUE="1973">1973
                                            <OPTION VALUE="1974">1974
                                            <OPTION VALUE="1975">1975
                                            <OPTION VALUE="1976">1976
                                            <OPTION VALUE="1977">1977
                                            <OPTION VALUE="1978">1978
                                            <OPTION VALUE="1979">1979
                                            <OPTION VALUE="1980">1980
                                            <OPTION VALUE="1981">1981
                                            <OPTION VALUE="1982">1982
                                            <OPTION VALUE="1983">1983
                                            <OPTION VALUE="1984">1984
                                            <OPTION VALUE="1985">1985
                                            <OPTION VALUE="1986">1986
                                            <OPTION VALUE="1987">1987
                                            <OPTION VALUE="1988">1988
                                            <OPTION VALUE="1989">1989
                                            <OPTION VALUE="1990">1990
                                            <OPTION VALUE="1991">1991
                                            <OPTION VALUE="1992">1992
                                            <OPTION VALUE="1993">1993
                                            <OPTION VALUE="1994">1994
                                            <OPTION VALUE="1995">1995
                                            <OPTION VALUE="1996">1996
                                            <OPTION VALUE="1997">1997
                                            <OPTION VALUE="1998">1998
                                            <OPTION VALUE="1999">1999
                                            <OPTION VALUE="2000">2000
                                            <OPTION VALUE="2001">2001
                                            <OPTION VALUE="2002">2002
                                            <OPTION VALUE="2003">2003
                                            <OPTION VALUE="2004">2004
                                            <OPTION VALUE="2005">2005
                                            <OPTION VALUE="2006">2006
                                            <OPTION VALUE="2007">2007
                                            <OPTION VALUE="2008">2008
                                            <OPTION VALUE="2009">2009
                                            <OPTION VALUE="2010">2010
                                            <OPTION VALUE="2011">2011
                                            <OPTION VALUE="2012">2012
                                            <OPTION VALUE="2013">2013
                                            <OPTION VALUE="2014">2014
                                            <OPTION VALUE="2015">2015
                                            <OPTION VALUE="2016">2016
                                        </select> ～ 
                                        <SELECT ng-model="nenji2" ng-init="nenji2 = '0'">
                                            <OPTION SELECTED VALUE="0">入社年
                                            <OPTION VALUE="1965">1965
                                            <OPTION VALUE="1966">1966
                                            <OPTION VALUE="1967">1967
                                            <OPTION VALUE="1968">1968
                                            <OPTION VALUE="1969">1969
                                            <OPTION VALUE="1970">1970
                                            <OPTION VALUE="1971">1971
                                            <OPTION VALUE="1972">1972
                                            <OPTION VALUE="1973">1973
                                            <OPTION VALUE="1974">1974
                                            <OPTION VALUE="1975">1975
                                            <OPTION VALUE="1976">1976
                                            <OPTION VALUE="1977">1977
                                            <OPTION VALUE="1978">1978
                                            <OPTION VALUE="1979">1979
                                            <OPTION VALUE="1980">1980
                                            <OPTION VALUE="1981">1981
                                            <OPTION VALUE="1982">1982
                                            <OPTION VALUE="1983">1983
                                            <OPTION VALUE="1984">1984
                                            <OPTION VALUE="1985">1985
                                            <OPTION VALUE="1986">1986
                                            <OPTION VALUE="1987">1987
                                            <OPTION VALUE="1988">1988
                                            <OPTION VALUE="1989">1989
                                            <OPTION VALUE="1990">1990
                                            <OPTION VALUE="1991">1991
                                            <OPTION VALUE="1992">1992
                                            <OPTION VALUE="1993">1993
                                            <OPTION VALUE="1994">1994
                                            <OPTION VALUE="1995">1995
                                            <OPTION VALUE="1996">1996
                                            <OPTION VALUE="1997">1997
                                            <OPTION VALUE="1998">1998
                                            <OPTION VALUE="1999">1999
                                            <OPTION VALUE="2000">2000
                                            <OPTION VALUE="2001">2001
                                            <OPTION VALUE="2002">2002
                                            <OPTION VALUE="2003">2003
                                            <OPTION VALUE="2004">2004
                                            <OPTION VALUE="2005">2005
                                            <OPTION VALUE="2006">2006
                                            <OPTION VALUE="2007">2007
                                            <OPTION VALUE="2008">2008
                                            <OPTION VALUE="2009">2009
                                            <OPTION VALUE="2010">2010
                                            <OPTION VALUE="2011">2011
                                            <OPTION VALUE="2012">2012
                                            <OPTION VALUE="2013">2013
                                            <OPTION VALUE="2014">2014
                                            <OPTION VALUE="2015">2015
                                            <OPTION VALUE="2016">2016
                                        </select> ： 比重 
                                        <SELECT ng-model="hiju1" ng-init="hiju1 = '5'">
                                            <OPTION VALUE="1">１
                                            <OPTION VALUE="2">２
                                            <OPTION VALUE="3">３
                                            <OPTION VALUE="4">４
                                            <OPTION VALUE="5">５
                                            <OPTION VALUE="6">６
                                            <OPTION VALUE="7">７
                                            <OPTION VALUE="8">８
                                            <OPTION VALUE="9">９
                                            <OPTION VALUE="10">１０
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>年次設定２</th>
                                    <td><SELECT ng-model="nenji3" ng-init="nenji3 = '0'">
                                            <OPTION SELECTED VALUE="0">入社年
                                            <OPTION VALUE="1965">1965
                                            <OPTION VALUE="1966">1966
                                            <OPTION VALUE="1967">1967
                                            <OPTION VALUE="1968">1968
                                            <OPTION VALUE="1969">1969
                                            <OPTION VALUE="1970">1970
                                            <OPTION VALUE="1971">1971
                                            <OPTION VALUE="1972">1972
                                            <OPTION VALUE="1973">1973
                                            <OPTION VALUE="1974">1974
                                            <OPTION VALUE="1975">1975
                                            <OPTION VALUE="1976">1976
                                            <OPTION VALUE="1977">1977
                                            <OPTION VALUE="1978">1978
                                            <OPTION VALUE="1979">1979
                                            <OPTION VALUE="1980">1980
                                            <OPTION VALUE="1981">1981
                                            <OPTION VALUE="1982">1982
                                            <OPTION VALUE="1983">1983
                                            <OPTION VALUE="1984">1984
                                            <OPTION VALUE="1985">1985
                                            <OPTION VALUE="1986">1986
                                            <OPTION VALUE="1987">1987
                                            <OPTION VALUE="1988">1988
                                            <OPTION VALUE="1989">1989
                                            <OPTION VALUE="1990">1990
                                            <OPTION VALUE="1991">1991
                                            <OPTION VALUE="1992">1992
                                            <OPTION VALUE="1993">1993
                                            <OPTION VALUE="1994">1994
                                            <OPTION VALUE="1995">1995
                                            <OPTION VALUE="1996">1996
                                            <OPTION VALUE="1997">1997
                                            <OPTION VALUE="1998">1998
                                            <OPTION VALUE="1999">1999
                                            <OPTION VALUE="2000">2000
                                            <OPTION VALUE="2001">2001
                                            <OPTION VALUE="2002">2002
                                            <OPTION VALUE="2003">2003
                                            <OPTION VALUE="2004">2004
                                            <OPTION VALUE="2005">2005
                                            <OPTION VALUE="2006">2006
                                            <OPTION VALUE="2007">2007
                                            <OPTION VALUE="2008">2008
                                            <OPTION VALUE="2009">2009
                                            <OPTION VALUE="2010">2010
                                            <OPTION VALUE="2011">2011
                                            <OPTION VALUE="2012">2012
                                            <OPTION VALUE="2013">2013
                                            <OPTION VALUE="2014">2014
                                            <OPTION VALUE="2015">2015
                                            <OPTION VALUE="2016">2016
                                        </select> ～ 
                                        <SELECT ng-model="nenji4" ng-init="nenji4 = '0'">
                                            <OPTION SELECTED VALUE="0">入社年
                                            <OPTION VALUE="1965">1965
                                            <OPTION VALUE="1966">1966
                                            <OPTION VALUE="1967">1967
                                            <OPTION VALUE="1968">1968
                                            <OPTION VALUE="1969">1969
                                            <OPTION VALUE="1970">1970
                                            <OPTION VALUE="1971">1971
                                            <OPTION VALUE="1972">1972
                                            <OPTION VALUE="1973">1973
                                            <OPTION VALUE="1974">1974
                                            <OPTION VALUE="1975">1975
                                            <OPTION VALUE="1976">1976
                                            <OPTION VALUE="1977">1977
                                            <OPTION VALUE="1978">1978
                                            <OPTION VALUE="1979">1979
                                            <OPTION VALUE="1980">1980
                                            <OPTION VALUE="1981">1981
                                            <OPTION VALUE="1982">1982
                                            <OPTION VALUE="1983">1983
                                            <OPTION VALUE="1984">1984
                                            <OPTION VALUE="1985">1985
                                            <OPTION VALUE="1986">1986
                                            <OPTION VALUE="1987">1987
                                            <OPTION VALUE="1988">1988
                                            <OPTION VALUE="1989">1989
                                            <OPTION VALUE="1990">1990
                                            <OPTION VALUE="1991">1991
                                            <OPTION VALUE="1992">1992
                                            <OPTION VALUE="1993">1993
                                            <OPTION VALUE="1994">1994
                                            <OPTION VALUE="1995">1995
                                            <OPTION VALUE="1996">1996
                                            <OPTION VALUE="1997">1997
                                            <OPTION VALUE="1998">1998
                                            <OPTION VALUE="1999">1999
                                            <OPTION VALUE="2000">2000
                                            <OPTION VALUE="2001">2001
                                            <OPTION VALUE="2002">2002
                                            <OPTION VALUE="2003">2003
                                            <OPTION VALUE="2004">2004
                                            <OPTION VALUE="2005">2005
                                            <OPTION VALUE="2006">2006
                                            <OPTION VALUE="2007">2007
                                            <OPTION VALUE="2008">2008
                                            <OPTION VALUE="2009">2009
                                            <OPTION VALUE="2010">2010
                                            <OPTION VALUE="2011">2011
                                            <OPTION VALUE="2012">2012
                                            <OPTION VALUE="2013">2013
                                            <OPTION VALUE="2014">2014
                                            <OPTION VALUE="2015">2015
                                            <OPTION VALUE="2016">2016
                                        </select> ： 比重 
                                        <SELECT ng-model="hiju2" ng-init="hiju2 = '5'">
                                            <OPTION VALUE="1">１
                                            <OPTION VALUE="2">２
                                            <OPTION VALUE="3">３
                                            <OPTION VALUE="4">４
                                            <OPTION VALUE="5">５
                                            <OPTION VALUE="6">６
                                            <OPTION VALUE="7">７
                                            <OPTION VALUE="8">８
                                            <OPTION VALUE="9">９
                                            <OPTION VALUE="10">１０
                                        </select></td>
                                </tr>
                                <tr>
                                    <th>年次設定３</th>
                                    <td><SELECT ng-model="nenji5" ng-init="nenji5 = '0'">
                                            <OPTION SELECTED VALUE="0">入社年
                                            <OPTION VALUE="1965">1965
                                            <OPTION VALUE="1966">1966
                                            <OPTION VALUE="1967">1967
                                            <OPTION VALUE="1968">1968
                                            <OPTION VALUE="1969">1969
                                            <OPTION VALUE="1970">1970
                                            <OPTION VALUE="1971">1971
                                            <OPTION VALUE="1972">1972
                                            <OPTION VALUE="1973">1973
                                            <OPTION VALUE="1974">1974
                                            <OPTION VALUE="1975">1975
                                            <OPTION VALUE="1976">1976
                                            <OPTION VALUE="1977">1977
                                            <OPTION VALUE="1978">1978
                                            <OPTION VALUE="1979">1979
                                            <OPTION VALUE="1980">1980
                                            <OPTION VALUE="1981">1981
                                            <OPTION VALUE="1982">1982
                                            <OPTION VALUE="1983">1983
                                            <OPTION VALUE="1984">1984
                                            <OPTION VALUE="1985">1985
                                            <OPTION VALUE="1986">1986
                                            <OPTION VALUE="1987">1987
                                            <OPTION VALUE="1988">1988
                                            <OPTION VALUE="1989">1989
                                            <OPTION VALUE="1990">1990
                                            <OPTION VALUE="1991">1991
                                            <OPTION VALUE="1992">1992
                                            <OPTION VALUE="1993">1993
                                            <OPTION VALUE="1994">1994
                                            <OPTION VALUE="1995">1995
                                            <OPTION VALUE="1996">1996
                                            <OPTION VALUE="1997">1997
                                            <OPTION VALUE="1998">1998
                                            <OPTION VALUE="1999">1999
                                            <OPTION VALUE="2000">2000
                                            <OPTION VALUE="2001">2001
                                            <OPTION VALUE="2002">2002
                                            <OPTION VALUE="2003">2003
                                            <OPTION VALUE="2004">2004
                                            <OPTION VALUE="2005">2005
                                            <OPTION VALUE="2006">2006
                                            <OPTION VALUE="2007">2007
                                            <OPTION VALUE="2008">2008
                                            <OPTION VALUE="2009">2009
                                            <OPTION VALUE="2010">2010
                                            <OPTION VALUE="2011">2011
                                            <OPTION VALUE="2012">2012
                                            <OPTION VALUE="2013">2013
                                            <OPTION VALUE="2014">2014
                                            <OPTION VALUE="2015">2015
                                            <OPTION VALUE="2016">2016
                                        </select>～ 
                                        <SELECT ng-model="nenji6" ng-init="nenji6 = '0'">
                                            <OPTION SELECTED VALUE="0">入社年
                                            <OPTION VALUE="1965">1965
                                            <OPTION VALUE="1966">1966
                                            <OPTION VALUE="1967">1967
                                            <OPTION VALUE="1968">1968
                                            <OPTION VALUE="1969">1969
                                            <OPTION VALUE="1970">1970
                                            <OPTION VALUE="1971">1971
                                            <OPTION VALUE="1972">1972
                                            <OPTION VALUE="1973">1973
                                            <OPTION VALUE="1974">1974
                                            <OPTION VALUE="1975">1975
                                            <OPTION VALUE="1976">1976
                                            <OPTION VALUE="1977">1977
                                            <OPTION VALUE="1978">1978
                                            <OPTION VALUE="1979">1979
                                            <OPTION VALUE="1980">1980
                                            <OPTION VALUE="1981">1981
                                            <OPTION VALUE="1982">1982
                                            <OPTION VALUE="1983">1983
                                            <OPTION VALUE="1984">1984
                                            <OPTION VALUE="1985">1985
                                            <OPTION VALUE="1986">1986
                                            <OPTION VALUE="1987">1987
                                            <OPTION VALUE="1988">1988
                                            <OPTION VALUE="1989">1989
                                            <OPTION VALUE="1990">1990
                                            <OPTION VALUE="1991">1991
                                            <OPTION VALUE="1992">1992
                                            <OPTION VALUE="1993">1993
                                            <OPTION VALUE="1994">1994
                                            <OPTION VALUE="1995">1995
                                            <OPTION VALUE="1996">1996
                                            <OPTION VALUE="1997">1997
                                            <OPTION VALUE="1998">1998
                                            <OPTION VALUE="1999">1999
                                            <OPTION VALUE="2000">2000
                                            <OPTION VALUE="2001">2001
                                            <OPTION VALUE="2002">2002
                                            <OPTION VALUE="2003">2003
                                            <OPTION VALUE="2004">2004
                                            <OPTION VALUE="2005">2005
                                            <OPTION VALUE="2006">2006
                                            <OPTION VALUE="2007">2007
                                            <OPTION VALUE="2008">2008
                                            <OPTION VALUE="2009">2009
                                            <OPTION VALUE="2010">2010
                                            <OPTION VALUE="2011">2011
                                            <OPTION VALUE="2012">2012
                                            <OPTION VALUE="2013">2013
                                            <OPTION VALUE="2014">2014
                                            <OPTION VALUE="2015">2015
                                            <OPTION VALUE="2016">2016
                                        </select> ： 比重 
                                        <SELECT ng-model="hiju3" ng-init="hiju3 = '5'">
                                            <OPTION VALUE="1">１
                                            <OPTION VALUE="2">２
                                            <OPTION VALUE="3">３
                                            <OPTION VALUE="4">４
                                            <OPTION VALUE="5">５
                                            <OPTION VALUE="6">６
                                            <OPTION VALUE="7">７
                                            <OPTION VALUE="8">８
                                            <OPTION VALUE="9">９
                                            <OPTION VALUE="10">１０
                                        </select>                                   
                                    </td>
                                </tr>
                            </tbody>
                        </TABLE>
                            <p class="btn btn-warning btn-lg" ng-click="doByyear();"> 年次別比率設定で登録 </p><br><br>

                        <table  class="table" style="background-color:white">
                            <thead style="background-color:rgba(255,140,0,0.3)">
                                <tr  class="accordion" ng-click="flag = !flag2">
                                    <th colspan="2"><center>個別料金設定</center></th>
                            </tr>
                            </thead>
                            <!--                            <dl class="accordion">
                                                            <dt ng-click="flag2 = !flag2">個別料金設定</dt>
                                                            <dd ng-class="{show: flag2}">-->
                            <tbody ng-class="{show: flag1}" style="background-color:rgba(255,140,0,0.1) ; font-size : 25px">
                                <tr ng-if="user2.party_id == party_id && (user2.attend_cd == 0 || user2.attend_cd == 2)" ng-repeat="user2 in setting.t_parties_userslist">
                                    <th><label for="count">{{doSetname2(user2.user_id)}} さん</label></th>
                                    <td><input type="text" ng-model="user2.payment" id="count" size="10" ng-init="user2.payment = 0">円<br>
                                        <span class="supplement">※半角数字で入力してください</span></td>
                                </tr>
                                <tr  class="arbitrary">
                                    <td colspan="2">
                            <center>
                                残り支払い総額　　 {{payment > 0 ? doZangaku() : 0}} 円
                            </center>
                            </td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="btn btn-warning btn-lg" ng-click="doKobetsu();"> 個別料金設定で登録 </p><br>
                    </center>
                </div>
                <div ng-if="tabflag3">
                    <br>
                    口コミとか、もろもろ
                </div>
                <div ng-if="tabflag4">
                    <br>
                    しゃしんとか、もろもろ
                </div>
            </div>

            <br><br><br>
        </div>
    </div>
</div>




