<LINK rel="stylesheet" type="text/css" href="/css/top.css">
<div id="top">
    <!--    <img src="/jpg/Top.jpg" class="img-responsive center-block">
        <br>
        <br>-->

    <form method="POST" name="myForm" id="myForm" ng-controller="Party_TopController">
        <div class="wrapper2">
            <div style="color:white; font-size: 40.3vmin; font-family: Monotype Corsiva; text-shadow:12px 12px 5px #999999; ">Bump</div>          
            
            <div class="login" >
                <div class="login_text">
                    <b>&nbsp;&nbsp;&nbsp;ログインして招待された</b><br><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;飲み会をチェック！！</b><br><br>
                    <b><FONT FACE="Wingdings">&#42</FONT> メールアドレス</b>
                        　<input ng-model-options="{updateOn: 'blur'}" type="email"  name="email" ng-model="user.mail" size="25"
                           autocomplete="off" ng-maxlength="40" ng-pattern="/^.+@nri\.co\.jp$/"   class="js-characters-change" required>
                    <p><span class="text-danger" ng-show="myForm.email.$error.required && myForm.$dirty">入力必須項目です</span></p>
                    <p><span class="text-danger" ng-show="myForm.email.$error.email">正しいメールアドレスを入力して下さい</span></p>
                    <p><span class="text-danger" ng-show="myForm.email.$error.maxlength">40文字以内で入力して下さい</span></p>
                    <p><span class="text-danger" ng-show="myForm.email.$error.pattern">NRIドメインのみです</span></p>
                    <!--        <input class="btn btn-warning btn-lg"  type="submit" name="btn" id="btn"  value="&nbsp;&nbsp;&nbsp;&nbsp;ログイン&nbsp;&nbsp;&nbsp;&nbsp;"  ng-disabled="myForm.$invalid">-->
                    <br>
                    <b>　<FONT FACE="Wingdings">&#33</FONT>パスワード</b>
                        　<input ng-model-options="{updateOn: 'default blur', debounce: {'default': 50, 'blur': 0}}" type="password"  name="password" ng-model="user.password" size="25"
                           autocomplete="off" ng-maxlength="15" ng-minlength="4" class="js-characters-change" required>
                    <p><span class="text-danger" ng-show="myForm.password.$error.required && myForm.password.$dirty">入力必須項目です</span></p>
                    <p><span class="text-danger" ng-show="myForm.password.$error.maxlength">異常なパスワードです</span></p>
                    <br>
                </div>
                <center>
                    <button ng-disabled="myForm.$invalid" ng-click="dopartyLogin();" >Login</button><br><br>
<!--                    <button ng-disabled="myForm.$invalid" ng-click="doLogin();" style="align:left" >Login</button><br><br>-->
                </center>
            </div>
        </div>

    </form>

</div>

<!--    </body>
</html>-->
