<div>
    <div class="wrapper">
        <div class="txt">  
            <a ng-href="#/kihontoroku">
                <div>基本情報登録</div>
            </a>
            <br>
            <a ng-href="#/jyohosyosai">
                <div>基本情報参照</div>
            </a>
            <br>
            <a ng-href="#/likes">
                <div>気になること登録</div>
            </a>
            <br>
            <a ng-href="#/likescfm">
                <div>気になること参照</div>
            </a>
             <br>
            <a ng-href="#/matching">
                <div>マッチング基本情報登録</div>
            </a>
        </div>
    </div>
</div>
