<LINK rel="stylesheet" type="text/css" href="/css/tagomori.css">
<center>
<div class="wrapper">
    <div class="txt">

        <center>
            <h2>らくらく精算</h2>
            <br>
            <br>
            <table class="contact">

                <tr >
                    <th colspan="3"><center>飲み会基本情報</center></th>
                </tr>
                <tr>
                    <th><b>飲み会名</b></th>
                    <td class="required"><img src="/jpg/required.jpg" alt="必須" width="26" height="15"></td>
                    <td><SELECT ng-model="party_id" ng-change="doCount()" ng-init="party_id = '0'">
                            <OPTION SELECTED VALUE="0">選択してください
                            <OPTION ng-repeat="party in setting.t_partieslist" VALUE={{party.party_id}}>{{party.party_name}}
                        </SELECT><br>
                    </td> 
                </tr>
                <tr>
                    <th><label for="payment">お会計</label></th>
                    <td class="required"><img src="/jpg/required.jpg" alt="必須" width="26" height="15"></td>
                    <td><input type="text" name="payment" id="payment" size="10" ng-model="payment" ng-blur="doCount()" ng-init="payment = 0">円<br>
                        <span class="supplement">※半角数字で入力してください</span></td>
                </tr>
            </table> 
            <br>
            <form method="post" action="warikan" class="contact" >
                <dl class="accordion">
                    <dt ng-click="flag = !flag">割り勘</dt>
                    <dd ng-class="{show: flag}">
                        <table>
                            <tbody>
                                <tr>
                                    <th><label for="count">支払い者</label></th>
                                    <td class="required"></td>
                                    <td><div ng-if="party_id == 0"> 飲み会名が選択されていません </div>
                            <div ng-if="user.party_id == party_id && (user.attend_cd == 0 || user.attend_cd == 2)" ng-repeat="user in setting.t_parties_userslist" >
                                <input type="checkbox" ng-model="user.count" ng-click="doCount()">{{doSetname(user.user_id)}} さん <br>
                            </div>
                            </tr>
                            <tr  class="arbitrary">
                                <td colspan="3">
                            <center>
                                割り勘金額　　一人当たり {{payment > 0 ? doKeisan() : 0}} 円
                            </center>
                            </td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="btn btn-warning btn-lg" ng-click="doWarikan();"> 割り勘で登録 </p>
                    </dd>
                </dl>

                <form method="post" action="#" class="contact">

                    <dl class="accordion">
                        <dt ng-click="flag1 = !flag1">年次別比率設定</dt>
                        <dd ng-class="{show: flag1}">
                            <table>
                                <tbody>
                                    <tr>
                                        <th><label for="party_id">年次設定１</label></th>
                                        <td class="required"></td>
                                        <td><SELECT ng-model="nenji1" ng-init="nenji1 = '0'">
                                                <OPTION SELECTED VALUE="0">入社年
                                                <OPTION VALUE="1965">1965
                                                <OPTION VALUE="1966">1966
                                                <OPTION VALUE="1967">1967
                                                <OPTION VALUE="1968">1968
                                                <OPTION VALUE="1969">1969
                                                <OPTION VALUE="1970">1970
                                                <OPTION VALUE="1971">1971
                                                <OPTION VALUE="1972">1972
                                                <OPTION VALUE="1973">1973
                                                <OPTION VALUE="1974">1974
                                                <OPTION VALUE="1975">1975
                                                <OPTION VALUE="1976">1976
                                                <OPTION VALUE="1977">1977
                                                <OPTION VALUE="1978">1978
                                                <OPTION VALUE="1979">1979
                                                <OPTION VALUE="1980">1980
                                                <OPTION VALUE="1981">1981
                                                <OPTION VALUE="1982">1982
                                                <OPTION VALUE="1983">1983
                                                <OPTION VALUE="1984">1984
                                                <OPTION VALUE="1985">1985
                                                <OPTION VALUE="1986">1986
                                                <OPTION VALUE="1987">1987
                                                <OPTION VALUE="1988">1988
                                                <OPTION VALUE="1989">1989
                                                <OPTION VALUE="1990">1990
                                                <OPTION VALUE="1991">1991
                                                <OPTION VALUE="1992">1992
                                                <OPTION VALUE="1993">1993
                                                <OPTION VALUE="1994">1994
                                                <OPTION VALUE="1995">1995
                                                <OPTION VALUE="1996">1996
                                                <OPTION VALUE="1997">1997
                                                <OPTION VALUE="1998">1998
                                                <OPTION VALUE="1999">1999
                                                <OPTION VALUE="2000">2000
                                                <OPTION VALUE="2001">2001
                                                <OPTION VALUE="2002">2002
                                                <OPTION VALUE="2003">2003
                                                <OPTION VALUE="2004">2004
                                                <OPTION VALUE="2005">2005
                                                <OPTION VALUE="2006">2006
                                                <OPTION VALUE="2007">2007
                                                <OPTION VALUE="2008">2008
                                                <OPTION VALUE="2009">2009
                                                <OPTION VALUE="2010">2010
                                                <OPTION VALUE="2011">2011
                                                <OPTION VALUE="2012">2012
                                                <OPTION VALUE="2013">2013
                                                <OPTION VALUE="2014">2014
                                                <OPTION VALUE="2015">2015
                                                <OPTION VALUE="2016">2016
                                            </select> ～ 
                                        <td><SELECT ng-model="nenji2" ng-init="nenji2 = '0'">
                                                <OPTION SELECTED VALUE="0">入社年
                                                <OPTION VALUE="1965">1965
                                                <OPTION VALUE="1966">1966
                                                <OPTION VALUE="1967">1967
                                                <OPTION VALUE="1968">1968
                                                <OPTION VALUE="1969">1969
                                                <OPTION VALUE="1970">1970
                                                <OPTION VALUE="1971">1971
                                                <OPTION VALUE="1972">1972
                                                <OPTION VALUE="1973">1973
                                                <OPTION VALUE="1974">1974
                                                <OPTION VALUE="1975">1975
                                                <OPTION VALUE="1976">1976
                                                <OPTION VALUE="1977">1977
                                                <OPTION VALUE="1978">1978
                                                <OPTION VALUE="1979">1979
                                                <OPTION VALUE="1980">1980
                                                <OPTION VALUE="1981">1981
                                                <OPTION VALUE="1982">1982
                                                <OPTION VALUE="1983">1983
                                                <OPTION VALUE="1984">1984
                                                <OPTION VALUE="1985">1985
                                                <OPTION VALUE="1986">1986
                                                <OPTION VALUE="1987">1987
                                                <OPTION VALUE="1988">1988
                                                <OPTION VALUE="1989">1989
                                                <OPTION VALUE="1990">1990
                                                <OPTION VALUE="1991">1991
                                                <OPTION VALUE="1992">1992
                                                <OPTION VALUE="1993">1993
                                                <OPTION VALUE="1994">1994
                                                <OPTION VALUE="1995">1995
                                                <OPTION VALUE="1996">1996
                                                <OPTION VALUE="1997">1997
                                                <OPTION VALUE="1998">1998
                                                <OPTION VALUE="1999">1999
                                                <OPTION VALUE="2000">2000
                                                <OPTION VALUE="2001">2001
                                                <OPTION VALUE="2002">2002
                                                <OPTION VALUE="2003">2003
                                                <OPTION VALUE="2004">2004
                                                <OPTION VALUE="2005">2005
                                                <OPTION VALUE="2006">2006
                                                <OPTION VALUE="2007">2007
                                                <OPTION VALUE="2008">2008
                                                <OPTION VALUE="2009">2009
                                                <OPTION VALUE="2010">2010
                                                <OPTION VALUE="2011">2011
                                                <OPTION VALUE="2012">2012
                                                <OPTION VALUE="2013">2013
                                                <OPTION VALUE="2014">2014
                                                <OPTION VALUE="2015">2015
                                                <OPTION VALUE="2016">2016
                                            </select>　：　比重　
                                            <SELECT ng-model="hiju1" ng-init="hiju1 = '5'">
                                                <OPTION VALUE="1">１
                                                <OPTION VALUE="2">２
                                                <OPTION VALUE="3">３
                                                <OPTION VALUE="4">４
                                                <OPTION VALUE="5">５
                                                <OPTION VALUE="6">６
                                                <OPTION VALUE="7">７
                                                <OPTION VALUE="8">８
                                                <OPTION VALUE="9">９
                                                <OPTION VALUE="10">１０
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><label for="party_id">年次設定２</label></th>
                                        <td class="required"></td>
                                        <td><SELECT ng-model="nenji3" ng-init="nenji3 = '0'">
                                                <OPTION SELECTED VALUE="0">入社年
                                                <OPTION VALUE="1965">1965
                                                <OPTION VALUE="1966">1966
                                                <OPTION VALUE="1967">1967
                                                <OPTION VALUE="1968">1968
                                                <OPTION VALUE="1969">1969
                                                <OPTION VALUE="1970">1970
                                                <OPTION VALUE="1971">1971
                                                <OPTION VALUE="1972">1972
                                                <OPTION VALUE="1973">1973
                                                <OPTION VALUE="1974">1974
                                                <OPTION VALUE="1975">1975
                                                <OPTION VALUE="1976">1976
                                                <OPTION VALUE="1977">1977
                                                <OPTION VALUE="1978">1978
                                                <OPTION VALUE="1979">1979
                                                <OPTION VALUE="1980">1980
                                                <OPTION VALUE="1981">1981
                                                <OPTION VALUE="1982">1982
                                                <OPTION VALUE="1983">1983
                                                <OPTION VALUE="1984">1984
                                                <OPTION VALUE="1985">1985
                                                <OPTION VALUE="1986">1986
                                                <OPTION VALUE="1987">1987
                                                <OPTION VALUE="1988">1988
                                                <OPTION VALUE="1989">1989
                                                <OPTION VALUE="1990">1990
                                                <OPTION VALUE="1991">1991
                                                <OPTION VALUE="1992">1992
                                                <OPTION VALUE="1993">1993
                                                <OPTION VALUE="1994">1994
                                                <OPTION VALUE="1995">1995
                                                <OPTION VALUE="1996">1996
                                                <OPTION VALUE="1997">1997
                                                <OPTION VALUE="1998">1998
                                                <OPTION VALUE="1999">1999
                                                <OPTION VALUE="2000">2000
                                                <OPTION VALUE="2001">2001
                                                <OPTION VALUE="2002">2002
                                                <OPTION VALUE="2003">2003
                                                <OPTION VALUE="2004">2004
                                                <OPTION VALUE="2005">2005
                                                <OPTION VALUE="2006">2006
                                                <OPTION VALUE="2007">2007
                                                <OPTION VALUE="2008">2008
                                                <OPTION VALUE="2009">2009
                                                <OPTION VALUE="2010">2010
                                                <OPTION VALUE="2011">2011
                                                <OPTION VALUE="2012">2012
                                                <OPTION VALUE="2013">2013
                                                <OPTION VALUE="2014">2014
                                                <OPTION VALUE="2015">2015
                                                <OPTION VALUE="2016">2016
                                            </select> ～ 
                                        <td><SELECT ng-model="nenji4" ng-init="nenji4 = '0'">
                                                <OPTION SELECTED VALUE="0">入社年
                                                <OPTION VALUE="1965">1965
                                                <OPTION VALUE="1966">1966
                                                <OPTION VALUE="1967">1967
                                                <OPTION VALUE="1968">1968
                                                <OPTION VALUE="1969">1969
                                                <OPTION VALUE="1970">1970
                                                <OPTION VALUE="1971">1971
                                                <OPTION VALUE="1972">1972
                                                <OPTION VALUE="1973">1973
                                                <OPTION VALUE="1974">1974
                                                <OPTION VALUE="1975">1975
                                                <OPTION VALUE="1976">1976
                                                <OPTION VALUE="1977">1977
                                                <OPTION VALUE="1978">1978
                                                <OPTION VALUE="1979">1979
                                                <OPTION VALUE="1980">1980
                                                <OPTION VALUE="1981">1981
                                                <OPTION VALUE="1982">1982
                                                <OPTION VALUE="1983">1983
                                                <OPTION VALUE="1984">1984
                                                <OPTION VALUE="1985">1985
                                                <OPTION VALUE="1986">1986
                                                <OPTION VALUE="1987">1987
                                                <OPTION VALUE="1988">1988
                                                <OPTION VALUE="1989">1989
                                                <OPTION VALUE="1990">1990
                                                <OPTION VALUE="1991">1991
                                                <OPTION VALUE="1992">1992
                                                <OPTION VALUE="1993">1993
                                                <OPTION VALUE="1994">1994
                                                <OPTION VALUE="1995">1995
                                                <OPTION VALUE="1996">1996
                                                <OPTION VALUE="1997">1997
                                                <OPTION VALUE="1998">1998
                                                <OPTION VALUE="1999">1999
                                                <OPTION VALUE="2000">2000
                                                <OPTION VALUE="2001">2001
                                                <OPTION VALUE="2002">2002
                                                <OPTION VALUE="2003">2003
                                                <OPTION VALUE="2004">2004
                                                <OPTION VALUE="2005">2005
                                                <OPTION VALUE="2006">2006
                                                <OPTION VALUE="2007">2007
                                                <OPTION VALUE="2008">2008
                                                <OPTION VALUE="2009">2009
                                                <OPTION VALUE="2010">2010
                                                <OPTION VALUE="2011">2011
                                                <OPTION VALUE="2012">2012
                                                <OPTION VALUE="2013">2013
                                                <OPTION VALUE="2014">2014
                                                <OPTION VALUE="2015">2015
                                                <OPTION VALUE="2016">2016
                                            </select>　：　比重　
                                            <SELECT ng-model="hiju2" ng-init="hiju2 = '5'">
                                                <OPTION VALUE="1">１
                                                <OPTION VALUE="2">２
                                                <OPTION VALUE="3">３
                                                <OPTION VALUE="4">４
                                                <OPTION VALUE="5">５
                                                <OPTION VALUE="6">６
                                                <OPTION VALUE="7">７
                                                <OPTION VALUE="8">８
                                                <OPTION VALUE="9">９
                                                <OPTION VALUE="10">１０
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <th><label for="party_id">年次設定３</label></th>
                                        <td class="required"></td>
                                        <td><SELECT ng-model="nenji5" ng-init="nenji5 = '0'">
                                                <OPTION SELECTED VALUE="0">入社年
                                                <OPTION VALUE="1965">1965
                                                <OPTION VALUE="1966">1966
                                                <OPTION VALUE="1967">1967
                                                <OPTION VALUE="1968">1968
                                                <OPTION VALUE="1969">1969
                                                <OPTION VALUE="1970">1970
                                                <OPTION VALUE="1971">1971
                                                <OPTION VALUE="1972">1972
                                                <OPTION VALUE="1973">1973
                                                <OPTION VALUE="1974">1974
                                                <OPTION VALUE="1975">1975
                                                <OPTION VALUE="1976">1976
                                                <OPTION VALUE="1977">1977
                                                <OPTION VALUE="1978">1978
                                                <OPTION VALUE="1979">1979
                                                <OPTION VALUE="1980">1980
                                                <OPTION VALUE="1981">1981
                                                <OPTION VALUE="1982">1982
                                                <OPTION VALUE="1983">1983
                                                <OPTION VALUE="1984">1984
                                                <OPTION VALUE="1985">1985
                                                <OPTION VALUE="1986">1986
                                                <OPTION VALUE="1987">1987
                                                <OPTION VALUE="1988">1988
                                                <OPTION VALUE="1989">1989
                                                <OPTION VALUE="1990">1990
                                                <OPTION VALUE="1991">1991
                                                <OPTION VALUE="1992">1992
                                                <OPTION VALUE="1993">1993
                                                <OPTION VALUE="1994">1994
                                                <OPTION VALUE="1995">1995
                                                <OPTION VALUE="1996">1996
                                                <OPTION VALUE="1997">1997
                                                <OPTION VALUE="1998">1998
                                                <OPTION VALUE="1999">1999
                                                <OPTION VALUE="2000">2000
                                                <OPTION VALUE="2001">2001
                                                <OPTION VALUE="2002">2002
                                                <OPTION VALUE="2003">2003
                                                <OPTION VALUE="2004">2004
                                                <OPTION VALUE="2005">2005
                                                <OPTION VALUE="2006">2006
                                                <OPTION VALUE="2007">2007
                                                <OPTION VALUE="2008">2008
                                                <OPTION VALUE="2009">2009
                                                <OPTION VALUE="2010">2010
                                                <OPTION VALUE="2011">2011
                                                <OPTION VALUE="2012">2012
                                                <OPTION VALUE="2013">2013
                                                <OPTION VALUE="2014">2014
                                                <OPTION VALUE="2015">2015
                                                <OPTION VALUE="2016">2016
                                            </select>～ 
                                        <td><SELECT ng-model="nenji6" ng-init="nenji6 = '0'">
                                                <OPTION SELECTED VALUE="0">入社年
                                                <OPTION VALUE="1965">1965
                                                <OPTION VALUE="1966">1966
                                                <OPTION VALUE="1967">1967
                                                <OPTION VALUE="1968">1968
                                                <OPTION VALUE="1969">1969
                                                <OPTION VALUE="1970">1970
                                                <OPTION VALUE="1971">1971
                                                <OPTION VALUE="1972">1972
                                                <OPTION VALUE="1973">1973
                                                <OPTION VALUE="1974">1974
                                                <OPTION VALUE="1975">1975
                                                <OPTION VALUE="1976">1976
                                                <OPTION VALUE="1977">1977
                                                <OPTION VALUE="1978">1978
                                                <OPTION VALUE="1979">1979
                                                <OPTION VALUE="1980">1980
                                                <OPTION VALUE="1981">1981
                                                <OPTION VALUE="1982">1982
                                                <OPTION VALUE="1983">1983
                                                <OPTION VALUE="1984">1984
                                                <OPTION VALUE="1985">1985
                                                <OPTION VALUE="1986">1986
                                                <OPTION VALUE="1987">1987
                                                <OPTION VALUE="1988">1988
                                                <OPTION VALUE="1989">1989
                                                <OPTION VALUE="1990">1990
                                                <OPTION VALUE="1991">1991
                                                <OPTION VALUE="1992">1992
                                                <OPTION VALUE="1993">1993
                                                <OPTION VALUE="1994">1994
                                                <OPTION VALUE="1995">1995
                                                <OPTION VALUE="1996">1996
                                                <OPTION VALUE="1997">1997
                                                <OPTION VALUE="1998">1998
                                                <OPTION VALUE="1999">1999
                                                <OPTION VALUE="2000">2000
                                                <OPTION VALUE="2001">2001
                                                <OPTION VALUE="2002">2002
                                                <OPTION VALUE="2003">2003
                                                <OPTION VALUE="2004">2004
                                                <OPTION VALUE="2005">2005
                                                <OPTION VALUE="2006">2006
                                                <OPTION VALUE="2007">2007
                                                <OPTION VALUE="2008">2008
                                                <OPTION VALUE="2009">2009
                                                <OPTION VALUE="2010">2010
                                                <OPTION VALUE="2011">2011
                                                <OPTION VALUE="2012">2012
                                                <OPTION VALUE="2013">2013
                                                <OPTION VALUE="2014">2014
                                                <OPTION VALUE="2015">2015
                                                <OPTION VALUE="2016">2016
                                            </select>　：　比重　
                                            <SELECT ng-model="hiju3" ng-init="hiju3 = '5'">
                                                <OPTION VALUE="1">１
                                                <OPTION VALUE="2">２
                                                <OPTION VALUE="3">３
                                                <OPTION VALUE="4">４
                                                <OPTION VALUE="5">５
                                                <OPTION VALUE="6">６
                                                <OPTION VALUE="7">７
                                                <OPTION VALUE="8">８
                                                <OPTION VALUE="9">９
                                                <OPTION VALUE="10">１０
                                            </select>                                   
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <p class="btn btn-warning btn-lg" ng-click="doByyear();"> 年次別比率設定で登録 </p>
                        </dd>
                    </dl>
                </form>
                <form method="post" action="#" class="contact">

                    <dl class="accordion">
                        <dt ng-click="flag2 = !flag2">個別料金設定</dt>
                        <dd ng-class="{show: flag2}">
                            <table>
                                <tbody>
                                    <tr ng-if="party_id == 0">
                                        <td colspan="3">飲み会名が選択されていません</td>
                                    </tr>
                                    <tr ng-if="user2.party_id == party_id && (user2.attend_cd == 0 || user2.attend_cd == 2)" ng-repeat="user2 in setting.t_parties_userslist">
                                        <th><label for="count">{{doSetname2(user2.user_id)}} さん</label></th>
                                        <td class="required"></td>
                                        <td><input type="text" ng-model="user2.payment" id="count" size="10" ng-init="user2.payment = 0">円<br>
                                            <span class="supplement">※半角数字で入力してください</span></td>
                                    </tr>
                                    <tr  class="arbitrary">
                                        <td colspan="3">
                                <center>
                                    残り支払い総額　　 {{payment > 0 ? doZangaku() : 0}} 円
                                </center>
                                </td>
                                </tr>
                                <!--                            <tr>
                                                                <th><label for="count">参加者全員分の</label></th>
                                                                <td class="required"><img src="/jpg/required.jpg" alt="必須" width="26" height="15"></td>
                                                                <td><input type="text" name="name" id="count" size="10"><br>
                                                                    <span class="supplement">※半角数字で入力してください</span></td>
                                                            </tr>
                                                            <tr>
                                                                <th><label for="count">名前が載った</label></th>
                                                                <td class="required"><img src="/jpg/required.jpg" alt="必須" width="26" height="15"></td>
                                                                <td><input type="text" name="name" id="count" size="10"><br>
                                                                    <span class="supplement">※半角数字で入力してください</span></td>
                                                            </tr>
                                                            <tr>
                                                                <th><label for="count">行が生成される</label></th>
                                                                <td class="required"><img src="/jpg/required.jpg" alt="必須" width="26" height="15"></td>
                                                                <td><input type="text" name="name" id="count" size="10"><br>
                                                                    <span class="supplement">※半角数字で入力してください</span></td>
                                                            </tr>
                                                            <tr>
                                                                <th><label for="count">予定です</label></th>
                                                                <td class="required"><img src="/jpg/required.jpg" alt="必須" width="26" height="15"></td>
                                                                <td><input type="text" name="name" id="count" size="10"><br>
                                                                    <span class="supplement">※半角数字で入力してください</span></td>
                                                            </tr>-->
                                </tbody>
                            </table>
                            <p class="btn btn-warning btn-lg" ng-click="doKobetsu();"> 個別料金設定で登録 </p>
                        </dd>
                    </dl>
                </form>
        </center>
    </div>
</div>
</center>
<!--    <script>
        angular.module('myApp', [])
                .controller('Ctrl', ['$scope', function ($scope) {
                        $scope.flag = false;
                        $scope.flag1 = false;
                        $scope.flag2 = false;
                    }]);
    </script>
</body>-->
<!--</html>-->
<!--<!DOCTYPE html>

<html lang="ja" ng-app="myApp">

    <%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <link href="/css/bootstrap.min.css" rel="stylesheet">
                <link type="text/css" href="/css/jquery-ui.min.css" rel="stylesheet" />
                <LINK rel="stylesheet" type="text/css" href="/css/style.css">
        
        
                <img src="/jpg/header.jpg" class="img-responsive center-block">
                <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                <button class="navbar-toggle collapsed" type="button"  >
                </button>
                <a class="navbar-brand" href="1">マイページ</a>
          </div>
        </nav>
        <style>
            .accordion,
            .accordion dt,
            .accordion dd {
                margin: 0;
                padding: 0;
            }
            .accordion {
                width: 700px;
                margin-bottom: 10px;
                border: 1px solid #CCC;
            }
            .accordion dt {
                padding: 5px 10px;
            }
            .accordion dt {
                background-color: #EEE;
                cursor: pointer;
            }
            .accordion dd.show {
                overflow: hidden;
                height: 100%;
                /*transition: height 0.5s ease;*/
            }
            .accordion dd {
                height: 0;
                overflow: hidden;
            }
        </style>
        <style type="text/css">
            
            /* --- フォームエリア --- */
            form.contact,
            table.contact{
                width: 700px; /* フォームエリアの幅 */
                font-size: 80%;
            }
            /* --- フォームエリア内の段落 --- */
            form.contact p ,
            table.contact p{
                line-height: 130%;
            }
            /* --- 段落内の「必須」画像 --- */
            form.contact p.attention img,
            table.contact p.attention img{
                vertical-align: middle;
            }

            /* --- テーブル --- */
            form.contact table ,
            table.contact table{
                width: 100%; /* テーブルの幅 */
                background-color: #f9f9f9; /* テーブルの背景色 */
                border: 1px #c0c0c0 solid; /* テーブルの境界線 */
            }
            /* --- 見出しセル（th） --- */
            form.contact th{
                width: 140px; /* 見出しセルの幅 */
                padding: 10px 8px; /* 見出しセルのパディング（上下、左右） */
                background-color: #f5f5f5; /* 見出しセルの背景色 */
                border-bottom: 1px #c0c0c0 dotted; /* 見出しセルの下境界線 */
                text-align: left;
                line-height: 130%;
            }
            table.contact th{
                width: 140px; /* 見出しセルの幅 */
                padding: 10px 8px; /* 見出しセルのパディング（上下、左右） */
                background-color: #AFEEEE; /* 見出しセルの背景色 */
                border-bottom: 1px #c0c0c0 dotted; /* 見出しセルの下境界線 */
                text-align: left;
                line-height: 130%;
            }
            /* --- 見出しセル内の補足テキスト --- */
            form.contact th span.supplement,
            table.contact th span.supplement{
                font-weight: normal;
            }
            /* --- データセル（td） --- */
            form.contact td ,
            table.contact td{
                padding: 10px 5px 7px; /* データセルのパディング（上、左右、下） */
                background-color: #ffffff; /* データセルの背景色 */
                border-bottom: 1px #c0c0c0 dotted; /* データセルの下境界線 */
            }
            /* --- データセル内の補足テキスト --- */
            form.contact td span.supplement,
            table.contact td span.supplement{
                color: #808080;
            }
            /* --- 必須項目セル --- */
            form.contact td.required,
            table.contact td.required{
                width: 26px; /* 必須項目セルの幅 */
                padding: 10px 3px; /* 必須項目セルのパディング（上下、左右） */
                background-color: #c4e6fa; /* 必須項目セルの背景色 */
                text-align: center;
            }
            /* --- 任意項目セル --- */
            form.contact td.arbitrary,
            table.contact td.arbitrary{
                background-color: #e0f1fc; /* 任意項目セルの背景色 */
            }

            /* --- フォーム部品 --- */
            form.contact input,
            form.contact select,
            form.contact textarea,
            table.contact input,
            table.contact select,
            table.contact textarea{
                margin-bottom: 5px; /* フォーム部品の下マージン */
            }

            /* --- ボタン --- */
            form.contact p.button
            table.contact p.button{
                margin: 5px 0 0; /* ボタンのマージン（上、左右、下） */
                text-align: center;
            }

            //
        </style>

        <title>らくらく精算</title>
    </head>-->
<!--    <body ng-controller="Ctrl">-->