
<div>
    <div class="wrapper">
        <div class="txt">
            <span><b><FONT FACE="Webdings">&#97</FONT>飲み会名　　　　　　</b></span><br>
            <select ng-model="k.party_id"  ng-options="k.party_name for k in results.t_Parties_Users_List">
                <option value="">選択してください</option>
            </select>

            <br><br>

            <div ng-disabled="myform.$invalid" class="btn btn-warning btn-lg" ng-click="doSansyotoroku();">表示</div>

            <br><br>

            <TABLE BORDER="0">
                <tr><td><b>名前(敬称略)　</b></td>
                    <td><b>　金額　　</b></td>
                    <td></td></tr>
                <tr ng-repeat="rec in Data">
                    <td>{{rec[1].name}}　</td>
                    <td href="#" editable-text="rec[0].payment">　{{rec[0].payment}}円</td>　
                    <td>  　 <button ng-click="doSeisanUpdate();" >更新</button></td>
                </tr>                              
            </TABLE>
            <br>
      
            <button class="btn btn-warning btn-lg" ng-click="doTsuti();">メール通知</button>
        </div>
    </div>
</div>

