<LINK rel="stylesheet" type="text/css" href="/css/syukkestupop.css">

<div style="background-color:#FFF;">
    <form method="post" name="myForm"  id="myForm" ng-controller="SyukkestupopController">
        <div class="wrapper_usertoroku">

            <br>
            <div class="txt_usertoroku2">
                <h1 class="usertoroku">出欠ステータス更新  </h1> 
            </div>
            <div class="txt_usertoroku">
                出欠ステータスを更新しますか？
            </div>
            <button ng-disabled="myForm.$invalid" ng-click="domarubatsukosin();" style="align:left" >Yes</button>
            <button ng-disabled="myForm.$invalid" ng-click="domarubatsunokosin();" style="align:left" >No</button>
            <br>
            <br>
        </div>
    </form>
</div>
