<div class="wrapper">
    <div class="txt">
        <span>出欠確認</span><br>
         <div  class="btn btn-warning btn-lg"><a ng-href = "#/tyoinomi_attendanceverification">ちょい飲み</a></div>
         <div  class="btn btn-warning btn-lg"><a ng-href = "#/mypage">テーマ飲み</a></div>
         <div  class="btn btn-warning btn-lg"><a ng-href = "#/mypage">ランダム飲み</a></div>
        <br><br><br>
    </div>
</div>