<LINK rel="stylesheet" type="text/css" href="/css/tempentry.css">
<div>
    <div class="wrapper">
        <div class="txt">   
            <h1 class="tempentry">ご登録ありがとうございます！</h1>
            <br>
            <span>
                入力していただいたメールアドレスに登録用URLを送信いたしました。<br>
                受け取られたURLからユーザ登録を完了してください。<br><br>
                メールが届かない場合は、下記の問い合わせ先までご連絡ください。<br><br>
                * 問い合わせ先：　<br>
                &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; <a href="mailto:y-katakami@nri.co.jp">y-katakami@nri.co.jp</a>
            </span><br>
<!--            <br><br>
            <center>
                <a ng-href="#/">
                    <button class="tempentry"> ログイン画面へ </button>
                </a>
            </center>-->
        </div>
    </div>

</div>

<!--</body>
</html>-->



