<LINK rel="stylesheet" type="text/css" href="/css/createparty.css">
<LINK rel="stylesheet" type="text/css" href="/css/themecreatepop.css">

<div>
    <!--<div class="txt">-->
    <center>

        <div class="txt_usertoroku2">
            <h1 class="usertoroku">テーマのみ開催</h1> 
        </div>

        <div>
            以下の内容でテーマのみを開催しますか？？
        </div>

        <br>

        <table class="table" style="background-color:white">
            <thead style="background-color:rgba(255,140,0,0.3)">
                <tr><th colspan="2">テーマのみ情報</th></tr>
            </thead>
            <tbody style="background-color:rgba(255,140,0,0.1)">
                <tr>
                    <td>飲み会名</td>
                    <td>{{themename}}</td>
                </tr>
                <tr>
                    <td>テーマ名</td>
                    <td>{{theme.like_name}}</td>
                </tr>
                <tr>
                    <td>開催日</td>
                    <td>{{themedate.value}}</td>
                </tr>
                <tr>
                    <td>開催時間</td>
                    <td>{{themetime.value}}</td>
                </tr>
                <tr>
                    <td>開催エリア</td>
                    <td>{{themearea.label}}</td>
                </tr>
                <tr>
                    <td>飲み会ジャンル</td>
                    <td>{{themeGenre.label}}</td>
                </tr>
                <tr>
                    <td>開催上限人数</td>
                    <td>{{themeKaisaimax.label}}</td>
                </tr>
                <tr>
                    <td>募集上限人数</td>
                    <td>{{themeBosyumax.label}}</td>
                </tr>
                <tr>
                    <td>募集締め切り日</td>
                    <td>{{themedeaddate.value}}</td>
                </tr>
                <tr>
                    <td>募集締め切り時間</td>
                    <td>{{themedeadtime.value}}</td>
                </tr>
            </tbody>
        </table>

        <br>

        <button ng-disabled="myForm.$invalid" ng-click="themenomikaisai();" style="align:left" >開催する！</button>
        <button ng-disabled="myForm.$invalid" ng-click="themenomiyametoku();" style="align:left" >やめとく</button>
        <br>
        <br>

    </center>
    <!--</div>-->
</div>
