
<LINK rel="stylesheet" type="text/css" href="/css/top.css">
<div>
    <form method="POST" name="myForm" id="myForm" >
        <div class="wrapper2">
            <div style="color:white; font-size: 40.3vmin; font-family: Monotype Corsiva; text-shadow:12px 12px 5px #999999; ">Bump</div>          
            <div class="accordion" >
                <dd ng-class="{show: login}">
                    <br>
                    <div class="login" >
                        <div class="login_text">
                            <b><FONT FACE="Wingdings">&#42</FONT>メールアドレス</b>
                        　<input ng-model-options="{updateOn: 'blur'}" type="email"  name="email" ng-model="user.mail" size="25"
                                   autocomplete="off" ng-maxlength="40" ng-pattern="/^.+@nri\.co\.jp$/"   class="js-characters-change" required>
                            <p><span class="text-danger" ng-show="myForm.email.$error.required && myForm.$dirty">入力必須項目です</span></p>
                            <p><span class="text-danger" ng-show="myForm.email.$error.email">正しいメールアドレスを入力して下さい</span></p>
                            <p><span class="text-danger" ng-show="myForm.email.$error.maxlength">40文字以内で入力して下さい</span></p>
                            <p><span class="text-danger" ng-show="myForm.email.$error.pattern">NRIドメインのみです</span></p>
                            <!--        <input class="btn btn-warning btn-lg"  type="submit" name="btn" id="btn"  value="&nbsp;&nbsp;&nbsp;&nbsp;ログイン&nbsp;&nbsp;&nbsp;&nbsp;"  ng-disabled="myForm.$invalid">-->
                            <br>
                            <b><FONT FACE="Wingdings">&#33</FONT>パスワード</b>
                        　<input ng-model-options="{ updateOn: 'default blur', debounce: {'default': 50, 'blur': 0} }" type="password"  name="password" ng-model="user.password" size="25"
                                   autocomplete="off" ng-maxlength="15" ng-minlength="4" class="js-characters-change" required>
                            <p><span class="text-danger" ng-show="myForm.password.$error.required && myForm.password.$dirty">入力必須項目です</span></p>
                            <p><span class="text-danger" ng-show="myForm.password.$error.maxlength">異常なパスワードです</span></p>
                            <br>
                        </div>

                        <center>
                            <button ng-disabled="myForm.$invalid" ng-click="doLogin();" style="align:left" >Login</button><br>
                        </center>
                        <span style="line-height:200%">
                            <center>
                                <div ng-controller="DialogUserTorokuController">
                                    <div style="font-size: 6.0vmin;"><u><a ng-click="doDialogUserToroku()">新規登録はこちら</a></u></div>
                                </div>
                            </center>
                        </span>
                        <br><br>
                    </div>
                </dd>

                <div ng-if="!login" >
                    <br><br><br><br><br><br><br>                  
                </div>

                <dt ng-click="login = !login" id="ttt" class="aaa" ng-class="{show: !login}">{{login ? "Close" : "Login / Entry" }}</dt>
                <!--                <dt ng-click="login = !login" id="ttt" class="aaa" ng-class="{show: !login}">{{login ? "戻る" : "Login / Entry" }}</dt>-->
                <br>
                <center>
                    <div ng-click="jumpTo('about')">
                        <div class="icon_innerlink2" >show more</div>
                        <div class="icon_innerlink"   >&#8811;</div>
                    </div >
                </center>
                <br id="about"><br>
                <div class="about" >
                    <center><span style="font-size: 50px; font-family: Century Gothic;">ABOUT</span></center>
                    <br>
                    "Bump"は社内コミュニケーションの活性化を目的とした社内飲み会マッチングアプリです。
                    <div class="accordion" style="display:inline;" >
                        <dd ng-class="{show: accord01}">
                            ”Bump”とは英語で「ぶつかる、衝突する」の<br>意です。本アプリは、社内において気軽に<br>飲み会を開催でき、社内コミュニケーション<br>が活性化されることを目的としています。<br>本アプリを利用することで、社内ネットワーク<br>の関係強化の一因となっていただければ<br>幸いです。<br><br>
                        </dd>
                        <dt ng-click="accord01 = !accord01" >{{accord01 ? "close" : "more" }}</dt>
                    </div>
                </div>
                <br><br>

                <div class="contents">
                    <center><span style="font-size: 50px; font-family: Century Gothic;">CONTENTS</span><br>
                        <span style="font-size: 40px; font-family: Century Gothic;">■使い方は4パターン</span></center>

                    　　<div class="icon" style=" background-image: url(/jpg/night.jpg); display:inline-block; vertical-align: middle"></div>
                    <div style="font-size: 50px; font-family: SimHei; display:inline;">　ちょい飲み</div>  
                    <div class="accordion" style="display:inline;">
                        <dd ng-class="{show: accord02}">
                            <FONT FACE="Webdings">&#97</FONT>今夜誰かと飲みたいなあと思ったら、<br>　エントリー<br>
                            <FONT FACE="Webdings">&#97</FONT>エントリーすると、同じ部署のユーザーに<br>　お誘いメールが届きます<br>
                        </dd>
                        <dt ng-click="accord02 = !accord02" >{{accord02 ? "close" : "more" }}</dt>
                    </div><br>

                    　　<div class="icon" style=" background-image: url(/jpg/hobby.jpg); display:inline-block; vertical-align: middle"></div>
                    <div style="font-size: 50px; font-family: SimHei; display:inline;">　テーマ飲み</div>

                    <div class="accordion" style="display:inline;" >
                        <dd ng-class="{show: accord03}">
                            <FONT FACE="Webdings">&#97</FONT>同じ趣味を持つ人と語りたいときに、<br>　エントリー<br>
                            <FONT FACE="Webdings">&#97</FONT>エントリーすると、同じ趣味を持つ<br>　ユーザーにお誘いメールが届きます<br>
                        </dd>
                        <dt ng-click="accord03 = !accord03" >{{accord03 ? "close" : "more" }}</dt>
                    </div><br>

                    　　<div class="icon" style=" background-image: url(/jpg/clock.jpg); display:inline-block; vertical-align: middle"></div>
                    <div style="font-size: 50px; font-family: SimHei; display:inline;">　ランダム飲み</div>

                    <div class="accordion" style="display:inline;">
                        <dd ng-class="{show: accord04}">
                            <FONT FACE="Webdings">&#97</FONT>新しい知り合いを作りたいときに、<br>　エントリー<br>
                            <FONT FACE="Webdings">&#97</FONT>エントリーすると、Bumpユーザーへ<br>　ランダムにお誘いメールが届きます<br>
                        </dd>
                        <dt ng-click="accord04 = !accord04" >{{accord04 ? "close" : "more" }}</dt>
                    </div><br>

                    　　<div class="icon" style=" background-image: url(/jpg/leef.jpg); display:inline-block; vertical-align: middle"></div>
                    <div style="font-size: 50px; font-family: SimHei; display:inline;">　つながり飲み</div>

                    <div class="accordion" style="display:inline;">
                        <dd ng-class="{show: accord05}">
                            <FONT FACE="Webdings">&#97</FONT>友達と会いたいけれど個別に連絡する<br>　のが面倒なときに、エントリー<br>
                            <FONT FACE="Webdings">&#97</FONT>エントリーすると、Bump内で作成した<br>　グループのメンバーにお誘いメールが<br>　届きます<br>
                        </dd>
                        <dt ng-click="accord05 = !accord05" >{{accord05 ? "close" : "more" }}</dt>
                    </div><br>
                </div>
                <br><br>

                <div class="other">
                    <center><span style="font-size: 50px; font-family: Century Gothic;">OTHER</span><br>
                        <span style="font-size: 40px; font-family: Century Gothic;">■その他にも使い方は様々</span></center>
                    <br>
                    　　<div class="icon" style=" background-image: url(/jpg/friends.jpg); display:inline-block; vertical-align: middle"></div>
                    <div style="font-size: 50px; font-family: SimHei; display:inline;">　つながり登録</div>

                    <div class="accordion" style="display:inline;">
                        <dd ng-class="{show: accord06}">
                            <FONT FACE="Webdings">&#97</FONT>この人と友達になりたいと思ったら、<br>　友達申請<br>
                            <FONT FACE="Webdings">&#97</FONT>友達登録をすることで飲み会のお誘いが<br>　手軽に行えます<br>
                        </dd>
                        <dt ng-click="accord06 = !accord06" >{{accord06 ? "close" : "more" }}</dt>
                    </div><br>

                    　　<div class="icon" style=" background-image: url(/jpg/okane.jpg); display:inline-block; vertical-align: middle"></div>
                    <div style="font-size: 50px; font-family: SimHei; display:inline;">　らくらく精算</div>

                    <div class="accordion" style="display:inline;">
                        <dd ng-class="{show: accord07}">
                            <FONT FACE="Webdings">&#97</FONT>合計額と人数を打ち込むだけで簡単精算<br>
                            <FONT FACE="Webdings">&#97</FONT>精算額を参加者全員にメールで<br>　通知します<br>　
                        </dd>
                        <dt ng-click="accord07 = !accord07" >{{accord07 ? "close" : "more" }}</dt>
                    </div><br>
                </div>
            </div>
        </div>
    </form>

    <!--    ページトップへ戻るボタン-->
    <!--    <div ng-if='top_footer'>-->
    <div ng-if="footer" style="width:99vmin">
        <div id="stage">
            <input type="radio" id="back1" name="gal">
            <input type="radio" id="back2" name="gal">
            <input type="radio" id="back3" name="gal">
            <input type="radio" id="back4" name="gal">
            <input type="radio" id="back5" name="gal">
            <input type="radio" id="next1" name="gal">
            <input type="radio" id="next2" name="gal">
            <input type="radio" id="next3" name="gal">
            <input type="radio" id="next4" name="gal">
            <input type="radio" id="next5" name="gal">
            <div id="photos">
                <div id="photo0" class="pic"><img src="/jpg/s5.jpg">
                </div>
                <div id="photo1" class="pic"><img src="/jpg/s1.jpg">
                    <!--	    <label for="back1"><div id="left1" class="b_left"><span>＜</span></div></label> 
                                <label for="next1"><div id="right1" class="b_right"><span>＞</span></div></label>-->
                </div>
                <div id="photo2" class="pic"><img src="/jpg/s2.jpg">
                    <!--	    <label for="back2"><div id="left2" class="b_left"><span>＜</span></div></label>
                            <label for="next2"><div id="right2" class="b_right"><span>＞</span></div></label>-->
                </div>
                <div id="photo3" class="pic"><img src="/jpg/s3.jpg">
                    <!--	    <label for="back3"><div id="left3" class="b_left"><span>＜</span></div></label>
                            <label for="next3"><div id="right3" class="b_right"><span>＞</span></div></label>-->     
                </div>
                <div id="photo4" class="pic"><img src="/jpg/s4.jpg">
                    <!--    	<label for="back4"><div id="left4" class="b_left"><span>＜</span></div></label>
                            <label for="next4"><div id="right4" class="b_right"><span>＞</span></div></label>-->
                </div>
                <div id="photo5" class="pic"><img src="/jpg/s5.jpg">
                    <!--    	<label for="back5"><div id="left5" class="b_left"><span>＜</span></div></label>
                            <label for="next5"><div id="right5" class="b_right"><span>＞</span></div></label>-->
                </div>
                <div id="photo6" class="pic"><img src="/jpg/s1.jpg">
                </div>
            </div>
            <div style="padding:28%;"></div>
        </div>
    </div>  

    <br><br>
    <div>

            <div style="font-size:80%; color:#111111; background:#ffffff; width:99vmin; height:50px" class="btn btn-warning btn-lg"  ng-click="jumpTo('top')">PageTop</div>

    </div>


</div>
















