<div>
    <div class="wrapper">
        <div class="txt">
            <span>出欠確認</span><br>
            <div  class="btn btn-warning btn-lg"><a ng-href = "#/tyoinomi_attendanceverification">ちょい飲み</a></div>
            <div  class="btn btn-warning btn-lg"><a ng-href = "#/mypage">テーマ飲み</a></div>
            <div  class="btn btn-warning btn-lg"><a ng-href = "#/mypage">ランダム飲み</a></div>
            <br>
            <br>


            <!--                <th>飲み会名</th><th>日付</th><th>参加者名</th><th>出欠区分</th>-->
            <!--                <tr ng-repeat="result in results.t_Parties_Users_List | filter : { date : {{today}} }">-->
            <select ng-model="result" ng-options ="result.party_name for result in results.tyo_partyKakuninOutDto">
                <option value="">未選択</option>
            </select>
            <!--            <div ng-repeat="result in results.tyo_partyKakuninOutDto">
                            <h2>{{result.party_name}}</h2>
                            <h2>{{result.date}}</h2>-->
            <ul>
                <li class="first">
                    <span class="dan">メンバー</span><span class="dan2">参加区別</span>
                </li>
                <li class="next" ng-repeat="res in result.tyo_parties_users_Dto">    
                    <span class="dan">{{res.name}}</span><span class="dan2">{{res.attend_cd}}</span>
                </li>
            </ul>

            <!--            </div>-->

            <br><br><br>
        </div>
    </div>
</div>
