

<!--    <script src="/js/jquery.min.js"></script>
        <script src="/js/angular.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <LINK rel="stylesheet" type="text/css" href="/css/style.css">
        <link type="text/css" href="/css/jquery-ui.min.css" rel="stylesheet" /> -->




<!--        
<nav class="navbar navbar-inverse">
<div class="container-fluid">
<button class="navbar-toggle collapsed" type="button"  >
</button>
<a class="navbar-brand" href="mypage">マイページ</a>
</div>
</nav>
-->

<!--    
<script type="text/javascript">
// ボタンクリックで検索を実行
$(function(){
   $('#button').click(function(e) {

            $.getJSON('/tyo_partytoroku',
                    {
                    party_cd:01,
                    user_id:User_id,
                    date:20161209,
                    time:$('#time').val()
                    }
            )
    });
});
</script>
-->
<!--    
<br>
<br>
<center>
&nbsp;&nbsp;&nbsp;&nbsp;ちょい飲み開始時刻を登録してください。

<form method="post" name="myForm"  id="myForm" ng-controller="Tyo_partyTorokuController">
      <div class="wrapper">
          <div class="txt">
  <table>
     <tr>
       <td><p1><b>開始時刻</b></p1></td><br>
       <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
       <td><p1>  
          <input type="number"  id="time" value="1900"  size="2"
          autocomplete="off" ng-maxlength=""  required>
       <p1></td>
     </tr>
   </table> 
 
        　   <div style="align: center;">
   <table> 
        <tr>
           <td>
           <input   class="btn btn-warning"  type="button" id="button"  value="&nbsp;&nbsp;登録&nbsp;&nbsp;" ng-disabled="myForm.$invalid" >
           </td>
           <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
   </table> 
  </div><br>
</form>
</center>
</body>
</html>

-->
<!--<title>ちょい飲み登録</title>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-nav">
            <button class="navbar-toggle collapsed" type="button"  >
                <a class="navbar-brand" ng-href="#/mypage">マイページ</a>
            </button>
            <a class="navbar-brand" ng-href="#/mypage">マイページ</a>
        </div>
    </div>
<<<<<<< HEAD
</nav>      
  
      <br>
    <center>
          &nbsp;&nbsp;&nbsp;&nbsp;"ちょい飲み"開始時刻と飲み会名を登録してください。
     <br>
     <br>
      
       <form  name="myForm"  id="myForm" ng-controller="Tyo_partyTorokuController">
            <div class="wrapper">
                <div class="txt">
                  <span>開始時刻&nbsp;:</span>
                   <input type="text" name="time" ng-model="time"  size="1" class="js-characters-change"  
                          autocomplete="off" ng-minlength="4" ng-maxlength="4" min="0000" max="2400"  required>
                     <p><span class="text-danger" ng-show="myForm.time.$error.maxlength"  >数字4桁で入力して下さい</span></p>
                     <p><span class="text-danger" ng-show="myForm.time.$error.minlength"  >数字4桁で入力して下さい</span></p>
                   
                       <br> 
                  <span>飲み会名&nbsp;:</span>
                   <input type="text"   ng-model="party_name" value="&nbsp;ちょい飲み"  size="14" autocomplete="off" ng-maxlength=""  required>
                        <br>      
                        <br>
                       <center>
                   <div  class="btn btn-warning btn-lg" ng-click="doTyo_partyToroku();">登録</div>
                </div>
             </div>
        </form>
     
                        <br>      
                        <br> 
                        <br>      
                        <br>
     <nav class="navbar navbar-inverse navbar-default"></nav>

</nav>      -->



<form  name="myForm"  id="myForm" ng-controller="Tyo_partyTorokuController">
    <div class="wrapper">
        <div class="txt">
            <center>"ちょい飲み開催登録"<br> 
            開始時刻&飲み会名を登録してください</center>
            <br>
            <span>開始時刻&nbsp;:</span>
            <input type="text" name="time" ng-model="time"  size="1" class="js-characters-change"  
                   autocomplete="off" ng-minlength="4" ng-maxlength="4"  required>
            <p><span class="text-danger" ng-show="myForm.time.$error.maxlength"  >数字4桁で入力して下さい</span></p>
            <p><span class="text-danger" ng-show="myForm.time.$error.minlength"  >数字4桁で入力して下さい</span></p>


            <span>飲み会名&nbsp;:</span>
            <input type="text"   ng-model="party_name" value="&nbsp;ちょい飲み"  size="18" autocomplete="off" ng-maxlength=""  required>
            <br>      
            <br>
            <br>
            <center><div  class="btn_orange" ng-click="doTyo_partyToroku();">登録</div></center>
<!--            <center><div  class="btn btn-warning btn-lg" ng-click="doTyo_partyToroku();">登録</div></center>-->

        </div>
    </div>
</form>





