
<div>
    <div class="wrapper">
        <div class="txt">
            <form method="post"  name="myNomikai"  id="myNomikai" ng-controller="tyo_partyKaitouController">
                <ul>
                    <li class="one">
                        <span class="one">飲み会名</span><span class="two">出欠</span>
                    </li>
                    <li class="two" ng-repeat="k in results.list">    
                        <span class="one" ng-if="k.attend_cd == 0">{{k.party_name}}</span>
                        <span class="two" ng-if="k.attend_cd == 0">
                            <select name ="status" ng-attr-id="{{'attend_' + $index}}">
                                <option selected value="0">{{k.attend_cd}}</option>
                                <option value="0">未回答</option>
                                <option value="1">欠席</option>
                                <option value="2">出席</option>
                            </select>
                        </span>
                    </li>
                </ul>

                <div ng-disabled="myNomikai.$invalid" class="btn_orange" ng-click="doTyo_partyKaitou();">登録</div>
<!--                <div ng-disabled="myNomikai.$invalid" class="btn btn-warning btn-lg" ng-click="doTyo_partyKaitou();">登録</div>-->

            </form>
        </div>
    </div>
</div>




