<LINK rel="stylesheet" type="text/css" href="/css/createparty.css">
<LINK rel="stylesheet" type="text/css" href="/css/themecreatepop.css">

<div>
    <!--<div class="txt">-->
    <center>

        <div class="txt_usertoroku2">
            <h1 class="usertoroku">ちょい飲み開催</h1> 
        </div>

        <div>
            以下の内容でちょい飲みを開催しますか？？
        </div>

        <br>

        <table class="table" style="background-color:white">
            <thead style="background-color:rgba(255,140,0,0.3)">
                <tr><th colspan="2">ちょい飲み情報</th></tr>
            </thead>
            <tbody style="background-color:rgba(255,140,0,0.1)">
                <tr>
                    <td>飲み会名</td>
                    <td>{{tyoname}}</td>
                </tr>
                <tr>
                    <td>開催時間</td>
                    <td>{{tyostarttime.starttime}}</td>
                </tr>
                <tr>
                    <td>登録締切時間</td>
                    <td>{{tyodeadline.deadline}}</td>
                </tr>
                
            </tbody>
        </table>

        <br>

        <button ng-disabled="myForm.$invalid" ng-click="tyonomikaisai();" style="align:left" >開催する！</button>
        <button ng-disabled="myForm.$invalid" ng-click="tyonomiyametoku();" style="align:left" >やめとく</button>
        <br>
        <br>

    </center>
    <!--</div>-->
</div>
