<LINK rel="stylesheet" type="text/css" href="/css/usertoroku.css">

<div style="background-color:#FFF;">
    <form method="post" name="myForm"  id="myForm" ng-controller="UserTorokuController">
        <div class="wrapper_usertoroku" style="width:95vmin">
            <br>
            <div class="txt_usertoroku2">
                <h1 class="usertoroku">さぁ Bumpを始めよう！  </h1> 
            </div>
            <div class="txt_usertoroku">

                <b> <FONT FACE="Wingdings">&#42</FONT>メールアドレス</b> <br>
                <input ng-model-options="{updateOn: 'blur'}" type="email"  name="email" id="email"  ng-model="email"   size="25" placeholder="mail address"
                       autocomplete="off" ng-maxlength="40" ng-pattern="/^.+@nri\.co\.jp$/"   class="js-characters-change" required>
                <p><span class="text-danger" ng-show="myForm.email.$error.required && myForm.$dirty">入力必須項目です</span></p>
                <p><span class="text-danger" ng-show="myForm.email.$error.email">正しいメールアドレスを入力して下さい</span></p>
                <p><span class="text-danger" ng-show="myForm.email.$error.maxlength">40文字以内で入力して下さい</span></p>
                <p><span class="text-danger" ng-show="myForm.email.$error.pattern">NRIドメインのみです</span></p>
                <br>
                <p>確認のため、再度入力して下さい</p>
                <input ng-model-options="{ updateOn: 'default blur', debounce: {'default': 50, 'blur': 0} }" type="email"  name="email_cfm" ng-model="email_cfm" size="25" id="email_cfm"  placeholder="mail address" 
                       autocomplete="off" match="email" required>
                <p><span class="text-danger" ng-show="myForm.email_cfm.$error.required && myForm.email_cfm.$dirty">入力必須項目です</span></p>
                <p><span class="text-danger" ng-show="myForm.email_cfm.$error.mismatch">メールアドレスが一致していません</span></p>
            </div>
            <div class="txt_usertoroku2" ng-disabled="myForm.$invalid" ng-click="doUserToroku();" ng-href="#/tempentry">
                <button class="usertoroku">Entry</button>
            </div>
        </div>
    </form>
</div>
