.button1{
    width: 180px; 
    height:70px;
    background-color: rgba(255,255,255,0.8);
    cursor: pointer;
    /*    padding: 25px;*/
    text-align : center;
    margin:auto;
    font-size: 25px; 
    font-family: Century Gothic;
    border-radius: 50px;
    border: 1px solid black;
}
.button2{
    width: 180px; 
    height:70px;
    background-color: rgba(222,184,135,0.8);
    cursor: pointer;
    /*    padding: 25px;*/
    text-align : center;
    margin:auto;
    font-size: 25px; 
    font-family: Century Gothic;
    border-radius: 50px;
    border: 1px solid black;
}

.txt {
    /* display: inline-block; */
    text-align: left;
    padding: 40px 40px 45px 40px;
    border-radius: 10px;
    background-color: rgba(255,255,255,1);
}

.txt2 {
    /* display: inline-block; */
    border-radius: 10px;
    background-color: rgba(255,255,255,1);
}

#memoue{
    background-image: url("../jpg/memoue.jpg");
    width: 100%;
    height:50%;
}

#create{
    width: 200px; 
    height:50px;
    background-color: rgba(255,255,255,0.8);
    cursor: pointer;
    /*    padding: 25px;*/
    text-align : center;
    margin:auto;
    font-size: 25px; 
    font-family: Century Gothic;
    border-radius: 50px;
    border: 1px solid black;
}

.temamenu{
    border-color: white;
    border-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    padding: 20px 0px 20px 0px;
}

.temamenuinput{
    border-color: black;
    border-style: double;    
}

.select-wrapper{
    overflow:hidden;
    border-color: white;
    border-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    padding: 20px 0px 20px 0px;
}
.select-wrappermain{
    background-color: bisque;
    overflow:hidden;
    border-color: white;
    border-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    padding: 20px 0px 20px 0px;
}
.pulldowndiv{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:100%;
    margin:0;
    border:0;
    outline:none;
    padding:0;
    background:transparent;
    text-indent: 15%;
}