.accordion,
.accordion dt,
.accordion dd {
    margin: 0;
    padding: 0;
}
.accordion {
    width: 700px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
}
.accordion dt {
    padding: 5px 10px;
}
.accordion dt {
    background-color: #EEE;
    cursor: pointer;
}
.accordion dd.show {
    overflow: hidden;
    height: 100%;
    /*transition: height 0.5s ease;*/
}
.accordion dd {
    height: 0;
    overflow: hidden;
}

/* --- フォームエリア --- */
form.contact,
table.contact{
    width: 700px; /* フォームエリアの幅 */
    font-size: 80%;
}
/* --- フォームエリア内の段落 --- */
form.contact p ,
table.contact p{
    line-height: 130%;
}
/* --- 段落内の「必須」画像 --- */
form.contact p.attention img,
table.contact p.attention img{
    vertical-align: middle;
}

/* --- テーブル --- */
form.contact table ,
table.contact table{
    width: 100%; /* テーブルの幅 */
    background-color: #f9f9f9; /* テーブルの背景色 */
    border: 1px #c0c0c0 solid; /* テーブルの境界線 */
}
/* --- 見出しセル（th） --- */
form.contact th{
    width: 140px; /* 見出しセルの幅 */
    padding: 10px 8px; /* 見出しセルのパディング（上下、左右） */
    background-color: #f5f5f5; /* 見出しセルの背景色 */
    border-bottom: 1px #c0c0c0 dotted; /* 見出しセルの下境界線 */
    text-align: left;
    line-height: 130%;
}
table.contact th{
    width: 140px; /* 見出しセルの幅 */
    padding: 10px 8px; /* 見出しセルのパディング（上下、左右） */
    background-color: #AFEEEE; /* 見出しセルの背景色 */
    border-bottom: 1px #c0c0c0 dotted; /* 見出しセルの下境界線 */
    text-align: left;
    line-height: 130%;
}
/* --- 見出しセル内の補足テキスト --- */
form.contact th span.supplement,
table.contact th span.supplement{
    font-weight: normal;
}
/* --- データセル（td） --- */
form.contact td ,
table.contact td{
    padding: 10px 5px 7px; /* データセルのパディング（上、左右、下） */
    background-color: #ffffff; /* データセルの背景色 */
    border-bottom: 1px #c0c0c0 dotted; /* データセルの下境界線 */
}
/* --- データセル内の補足テキスト --- */
form.contact td span.supplement,
table.contact td span.supplement{
    color: #808080;
}
/* --- 必須項目セル --- */
form.contact td.required,
table.contact td.required{
    width: 26px; /* 必須項目セルの幅 */
    padding: 10px 3px; /* 必須項目セルのパディング（上下、左右） */
    background-color: #c4e6fa; /* 必須項目セルの背景色 */
    text-align: center;
}
/* --- 任意項目セル --- */
form.contact td.arbitrary,
table.contact td.arbitrary{
    background-color: #e0f1fc; /* 任意項目セルの背景色 */
}

/* --- フォーム部品 --- */
form.contact input,
form.contact select,
form.contact textarea,
table.contact input,
table.contact select,
table.contact textarea{
    margin-bottom: 5px; /* フォーム部品の下マージン */
}

/* --- ボタン --- */
form.contact p.button
table.contact p.button{
    margin: 5px 0 0; /* ボタンのマージン（上、左右、下） */
    text-align: center;
}
#create{
    width: 200px; 
    height:50px;
    background-color: rgba(255,255,255,0.8);
    cursor: pointer;
    /*    padding: 25px;*/
    text-align : center;
    margin:auto;
    font-size: 25px; 
    font-family: Century Gothic;
    border-radius: 50px;
    border: 1px solid black;
}

.accord0{
    border-bottom: 1px solid #000000;
    background-color: white;
}
.accord1{
    border-bottom: 1px solid #000000;
    /*background-color: rgba(85,142,213,0.3);*/
    background-color: rgb(253,234,218);
    padding-left: 30px;
}
.accord2{
    border-bottom: 1px solid #000000;
    /*background-color: rgba(85,142,213,0.7);*/
    background-color: rgb(252,213,181);
    padding-left: 60px
}
.accord3{
    border-bottom: 1px solid #000000;
    /*     background-color: rgba(85,142,213,0.2);*/
    background-color: white;
}

.checked_accord1{
    background-color: rgb(250,192,144);
    color: white;
    padding-left: 30px;
}
.checked_accord2{
    background-color: rgb(250,192,144);
    color: white;
    padding-left: 60px;
}
/*
txt_kininaru{
    text-align:left;
    padding: 40px 40px 45px 40px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.9);
}*/
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
/*
li.span{
    margin: 0px;
    padding: 0px;
}*/
