.wrapper {

    width:90vmin;  
    /*    margin: 0 auto;*/
    text-align: center;
}
.txt {
    /*    display: inline-block;*/
    text-align: left;
    padding: 40px 40px 45px 40px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.9);
}
body{
    font-size: 45px;
}

/*飲み会ページ用--------------------------------------------------------*/
a.atag2{
    color:black;
    font-size:smaller;
    text-decoration: none;
}

.selected.atag2{
    color:white;
    font-size:smaller;
}


div.nomikaibar {
    background-color:white;
    color:black;
    border-style: dashed;
    font-weight:bold;
    padding:0.1em;
    font-size: larger;
}
.nomikaicategory{
    float:right;
    font-size: 25px;
    background-color: rgba(255,228,181,0.7);
    border-radius: 90%;
    color: white;
}

/*上のタブ用*/
.tabrow {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 45px;
}
.tabrow li {
    margin: 0 10px;
    padding: 0 10px;
    border: 1px solid #AAA;
    background: white;
    display: inline-block;
    font-size: larger;
}

/*まるばつ用*/
.tabrow2 {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 45px;
    font-family: 'MS PGothic';
    display: inline-block;
}
.tabrow2 li {
    margin: 0 10px;
    padding: 0 10px;
    background: white;
    display: inline-block;
    font-size: larger;
    border-radius: 30px;
}
.tabrow2 li.selectedstatus {
    margin: 0 10px;
    padding: 0 10px;
    background: greenyellow;
    display: inline-block;
    font-size: larger;
    border-radius: 30px;
}
.accordion {
    border: 0px solid #CCC;
    padding: 40px 10px 45px 10px;
     margin-top: 100px;
    width: 650px;  
}

button,.accordion dt {
/*    width: 300px; 
    height:100px;*/
    background-color: rgba(255,255,255,0.8);
/*    cursor: pointer;
    padding: 25px;
    text-align : center;
    margin:auto;
    font-family: Century Gothic;
    border-radius: 50px;*/
    border: 1px solid black;
     font-size: 25px; 
}

#ttt{
    width: 550px; 
    height:150px;
    background-color: rgba(210,105,30,0.7);
    cursor: pointer;
    padding: 30px;
    text-align : center;
    margin:auto;
    font-size: 60px; 
    font-family:Gungsuh;
    border-radius: 100px;
    border: 4px solid #8B4513;
    color:white;
}

.accordion dd.show {
    overflow: hidden;
    height: 100%;
    transition: height 0.5s ease;
    width:100%;

}

.accordion dd {
    height: 0;
    overflow: hidden;

}

.temamenu{
    border-color: white;
    border-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    padding: 20px 0px 20px 0px;
}
.select-wrapper{
    overflow:hidden;
    border-color: white;
    border-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    padding: 20px 0px 20px 0px;
}