#create{
/*    width: 200px; 
    height:50px;*/
    background-color: rgba(255,255,255,0.8);
    cursor: pointer;
    padding: 10px;
    text-align : center;
    margin:auto;
    font-size: larger; 
    font-family: Century Gothic;
    border-radius: 50px;
    border: 1px solid black;
}

.txt_mypage {
    /* display: inline-block; */
    text-align: left;
    padding: 30px 40px 45px 40px;
    border-radius: 10px;
    background-color: rgba(255,255,255,1);
}

#memoue{
    background-image: url("../jpg/memoue.jpg");
    width: 100%;
    height:50%;
}