.wrapper {

    width: 95vmin;  
    /*    margin: 0 auto;*/
    text-align: center;
}
.txt {
    /*    display: inline-block;*/
    text-align: left;
    padding: 40px 40px 45px 40px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.9);
}


/*飲み会ページ用--------------------------------------------------------*/
a.atag2{
    color:black;
    font-size:smaller;
    text-decoration: none;
}

.selected.atag2{
    color:white;
    font-size:smaller;
}


div.nomikaibar {
    background-color:white;
    color:black;
    border-style: dashed;
    font-weight:bold;
    padding:0.1em;
    font-size: larger;
}
.nomikaicategory{
    float:right;
    font-size: 25px;
    background-color: rgba(255,228,181,0.7);
    border-radius: 90%;
    color: white;
}

/*上のタブ用*/
.tabrow {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 45px;
}
.tabrow li {
    margin: 0 10px;
    padding: 0 10px;
    border: 1px solid #AAA;
    background: white;
    display: inline-block;
    font-size: larger;
}
/*選択されたタブ用*/
.tabrow li.selected {
    background: rgba(255,140,0,0.6);
    color: #000;
}
/*タブの下線*/
.tabrow {
    position: relative;
}
.tabrow:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid rgba(255,228,181,0.7);
    z-index: 1;
}
/*選択されたもののみ、下線を消去*/
.tabrow:before {
    z-index: 1;
}
.tabrow li {
    position: relative;
    z-index: 0;
}
.tabrow li.selected {
    z-index: 2;
    border-bottom-color: #FFF;
}
/*角丸を作成*/
.tabrow li:before,
.tabrow li:after {
    position: absolute;
    bottom: -1px;
    width: 6px;
    height: 6px;
    content: " ";
}
.tabrow li:before {
    left: -6px;
}
.tabrow li:after {
    right: -6px;
}
.tabrow li:after, .tabrow li:before {
    border: 1px solid #AAA;
}
.tabrow li {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.tabrow li:before {
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
}
.tabrow li:after {
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
}
.tabrow li:before {
    box-shadow: 2px 2px 0 rgba(255,140,0,0.6);
}
.tabrow li:after {
    box-shadow: -2px 2px 0 rgba(255,140,0,0.6);
}
.tabrow li:before {
    box-shadow: 2px 2px 0 #ECECEC;
}
.tabrow li:after {
    box-shadow: -2px 2px 0 #ECECEC;
}
.tabrow li.selected:before {
    box-shadow: 2px 2px 0 rgba(255,140,0,0.6);
}
.tabrow li.selected:after {
    box-shadow: -2px 2px 0 rgba(255,140,0,0.6);
}
.tabrow li {
    background:      -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background:     -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background:    -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    /*    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);*/
    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    text-shadow: 0 1px #FFF;
    margin: 0 -5px;
    padding: 0 20px;
}
input[type=text]{
    border-radius: 5px;
    border:#a9a9a9 1px solid;
    width:120px;
    font-size: 4.8vmin;
}

input[type=text]:focus {
    border:solid 3px #FF9933;
    width:120px;
    font-size: 4.8vmin;
}

/*まるばつ用*/
.tabrow2 {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 45px;
    font-family: 'MS PGothic';
    display: inline-block;
}
.tabrow2 li {
    margin: 0 10px;
    padding: 0 10px;
    background: white;
    display: inline-block;
    font-size: larger;
    border-radius: 30px;
}
.tabrow2 li.selectedstatus {
    margin: 0 10px;
    padding: 0 10px;
    background: greenyellow;
    display: inline-block;
    font-size: larger;
    border-radius: 30px;
}
.icon_koshin {
    position: relative;
    width: 40px;
    height: 40px;
    border: 0;
    background-size:cover;
    background-image:  url(/jpg/icon_koshin.png);
    /*    background-color: rgba(255,140,0,0.1);*/
    /*    display: table-cell;*/
}

