/*BootStrapのヘッダーの設定*/
.nav-justified {
    position: relative;
}  
.nav-justified > li {
    float: none;
}
.nav-justified > li > a {
    vertical-align: middle;
    display: block;
    width: 100%;
    height: 100%;
}

body {
    font-size: 4.8vmin;
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url("/jpg/haikei.jpg");
    background-size:cover;
    background-repeat: no-repeat;             
    background-position: 50% 50%;             /*背景画像の位置は画面中央*/ 
    background-attachment:fixed;             /* 背景画像を固定する*/ 
/*    width:70%;
    height:100vh;*/
}

/*#top{
    background-color:white;
}*/

p {
    font-size: 4.3vmin;
}

input[type=email]{
    border-radius: 5px;
    border:#a9a9a9 1px solid;
}

input[type=email]:focus {
    border:solid 3px #FF9933;
}

input[type=text]{
    border-radius: 5px;
    border:#a9a9a9 1px solid;
}

input[type=text]:focus {
    border:solid 3px #FF9933;
}
input[type=password]{
    border-radius: 5px;
    border:#a9a9a9 1px solid;
}

input[type=password]:focus {
    border:solid 3px #FF9933;
}

input[type=number]{
    border-radius: 5px;
    border:#a9a9a9 1px solid;
}

input[type=number]:focus {
    border:solid 3px #FF9933;
}
.wrapper2 {

    width: 650px;  
    /*    margin: 0 auto;*/
    text-align: center;
}
.wrapper {
    margin-top: 100px;
    width: 90vmin;   
    margin: 0 auto;
    text-align: center;
    
}
.txt {
    /*    display: inline-block;*/
    text-align: left;
    padding: 40px 40px 45px 40px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.9);
}
.txt_usertoroku {
    /*    display: inline-block;*/
    text-align: left;
    padding: 40px 40px 45px 90px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.9);
}


.icon_mypage_top {
    position: relative;
    margin-left: 170px;
    width: 19vmin;
    height: 10vmin;
    border: 0;
    background-size:cover;
    background-image:  url(/jpg/icon_mypage_top.jpg);
}

.icon_create {
    margin-top: 10px;
    left: 25%;
    position: relative;
    width: 8vmin;
    height: 8vmin;
    border: 0;
    background-size:cover;
    background-image:  url(/jpg/icon_header_create.jpg);
    display: table-cell;
}

.icon_home {
    margin-top: 10px;
    /*    right: 20%;*/
    position: relative;
    width: 8vmin;
    height: 8vmin;
    border: 0;
    background-size:cover;
    background-image:  url(/jpg/icon_header_home.jpg);
    display: table-cell;
}
.icon_tsuchi {
    position: relative;
    margin-top: 30px;
    margin-right:30px;
 width: 20.2vmin;
    height: 22vmin;
    border: 0;
    background-size:cover;
    background-image:  url(/jpg/icon_footer_tsuchi.jpg);
    display: table-cell;
}

.icon_tsuchi:hover{
    position: relative;
   margin-top: 30px;
    margin-right:30px;
 width: 20.2vmin;
    height: 22vmin;
    border: 0;
    background-size:cover;
    background-image:  url(/jpg/icon_footer_tsuchi_color.jpg);
    display: table-cell;
}
.icon_friends {
    position: relative;
   margin-top: 30px;
    margin-right:30px;
 width: 20.2vmin;
    height: 22vmin;
    border: 0;
    background-size:cover;
    background-image:  url(/jpg/icon_footer_friends.jpg);
    display: table-cell;
}

.icon_friends:hover{
    position: relative;
    margin-top: 30px;
    margin-right:30px;
 width: 20.2vmin;
    height: 22vmin;
    border: 0;
    background-size:cover;
    background-image:  url(/jpg/icon_footer_friends_color.jpg);
    display: table-cell;
}

.icon_history {
    position: relative;
 margin-top: 30px;
    margin-right:30px;
 width: 20vmin;
    height: 22vmin;
    border: 0;
    background-size:cover;
    background-image:  url(/jpg/icon_footer_history.jpg);
    display: table-cell;
}

.icon_history:hover{
    position: relative;
  margin-top: 30px;
    margin-right:30px;
 width: 20vmin;
    height: 22vmin;
    border: 0;
    background-size:cover;
    background-image:  url(/jpg/icon_footer_history_color.jpg);
    display: table-cell;
}

.icon_setting {
    position: relative;
  margin-top: 30px;
    margin-right:30px;
 width: 20vmin;
    height: 22vmin;
    border: 0;
    background-size:cover;
    background-image:  url(/jpg/icon_footer_setting.jpg);
    display: table-cell;
}

.icon_setting:hover{
    position: relative;
    margin-top: 30px;
    margin-right:30px;
 width: 20vmin;
    height: 22vmin;
    border: 0;
    background-size:cover;
    background-image:  url(/jpg/icon_footer_setting_color.jpg);
    display: table-cell;
}

.icon_tsuchi .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.icon_tsuchi .badge .inner {
    display: block;
    position: relative;
    margin: 0px;
    width: 60px;
    height: 60px;
    padding:12px 5px;
    font-size: 45px;
    border-radius: 50%;
    color: #fff;
    line-height: 31px;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#ee757b), to(#c80507));
    background: -webkit-linear-gradient(top, #ee757b, #c80507);
    background: linear-gradient(to bottom, #ee757b, #c80507);
    background: gradient(linear, center top, center bottom, from(#ee757b), to(#c80507));
}
.badge {
    display: inline-block;
    min-width: 35px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    padding: 3px 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

/*ロゴの設定*/
.navbar-brand .img-rounded {
    width:100px;
    height:100%;
    border:1px solid #ddd;
    margin-top:-10px; 
}

ul {
    list-style:none;
}

li.one {
    border: 1px solid #ccc;
    background-color: #eee8aa;
}

li.two{
    border-left: 1px solid #ccc;
    border-right:1px solid #ccc;

    border-bottom: 1px solid #ccc;
    background-color: #f5f5dc;

}

span.one {
    float: left;
    padding: 10px;
}

span.two {
    display: block;
    margin-left: 70%;
    padding: 10px;
    border-left: 1px solid #ccc;
}

li.first {
    width: 400px;
    border: 1px solid #ccc;
    background-color: #eee8aa;
}

li.next{
    width: 400px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5dc;
}

span.dan {
    float: left;
    padding: 10px;
}

span.dan2 {
    display: block;
    margin-left: 200px;
    padding: 10px;
    border-left: 1px solid #ccc;
}

span.dan2-r {
    display: block;
    margin-left: 200px;
    padding: 10px;
    border-left: 1px solid #ccc;
    background-color: #fffff0;
}

/* 表示画面 */
#stage {
    position: relative;
    max-width: 88vmin;
    margin: auto;
    overflow: hidden;
}
/*全ての写真を水平一列に格納したdiv、#photosに,
スライドショーの animation を設定*/
#photos {
    position:absolute;
    top:0;
    width:100%;
    animation: imgPassToLeft0 30s infinite;
    -webkit-animation: imgPassToLeft0 30s infinite;
}
/*各写真の並び位置を設定
#photo1, #photo2, #photo3, #photo4, #photo5 */
#photo0 { left:  0%; }
#photo1 { left:100%; } 
#photo2 { left:200%; }
#photo3 { left:300%; }
#photo4 { left:400%; }
#photo5 { left:500%; }
#photo6 { left:600%; }
.pic { position:absolute;top:0;width:100%; }
/*写真サイズを可変に*/
.pic img { width:100%; }

/* 全てのラジオボタンを非表示に */
#back1,#back2,#back3,#back4,#back5,#next1,#next2,#next3,#next4,#next5{
    display: none;
}
/* animation設定 */
@keyframes imgPassToLeft0 {
    0%  { left:-100%; }
    16% { left:-100%; }
    20% { left:-200%; }
    36% { left:-200%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-400%; }
    76% { left:-400%; }
    80% { left:-500%; }
    96% { left:-500%; }
    100% { left:-600%; }
}
@keyframes imgPassToLeft1 {
    0% { left:-100%; }
    16% { left:-100%; }
    20% { left:-200%; }
    36% { left:-200%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-400%; }
    76% { left:-400%; }
    80% { left:-500%; }
    96% { left:-500%; }
    100% { left:-600%; }
}
@keyframes imgPassToLeft2 {
    0% { left:-100%; }
    16% { left:-100%; }
    20% { left:-200%; }
    36% { left:-200%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-400%; }
    76% { left:-400%; }
    80% { left:-500%; }
    96% { left:-500%; }
    100% { left:-600%; }
}
@keyframes imgPassToLeft3 {
    0% { left:-100%; }
    16% { left:-100%; }
    20% { left:-200%; }
    36% { left:-200%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-400%; }
    76% { left:-400%; }
    80% { left:-500%; }
    96% { left:-500%; }
    100% { left:-600%; }
}
@keyframes imgPassToLeft4 {
    0% { left:-100%; }
    16% { left:-100%; }
    20% { left:-200%; }
    36% { left:-200%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-400%; }
    76% { left:-400%; }
    80% { left:-500%; }
    96% { left:-500%; }
    100% { left:-600%; }
}
@keyframes imgPassToLeft5 {
    0% { left:-100%; }
    16% { left:-100%; }
    20% { left:-200%; }
    36% { left:-200%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-400%; }
    76% { left:-400%; }
    80% { left:-500%; }
    96% { left:-500%; }
    100% { left:-600%; }
}
@keyframes imgPassToRight1 {
    0% { left:-500%; }
    16% { left:-500%; }
    20% { left:-400%; }
    36% { left:-400%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-200%; }
    76% { left:-200%; }
    80% { left:-100%; }
    96% { left:-100%; }
    100% { left:0%; }
}
@keyframes imgPassToRight2 {
    0% { left:-500%; }
    16% { left:-500%; }
    20% { left:-400%; }
    36% { left:-400%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-200%; }
    76% { left:-200%; }
    80% { left:-100%; }
    96% { left:-100%; }
    100% { left:0%; }
}
@keyframes imgPassToRight3 {
    0% { left:-500%; }
    16% { left:-500%; }
    20% { left:-400%; }
    36% { left:-400%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-200%; }
    76% { left:-200%; }
    80% { left:-100%; }
    96% { left:-100%; }
    100% { left:0%; }
}
@keyframes imgPassToRight4 {
    0% { left:-500%; }
    16% { left:-500%; }
    20% { left:-400%; }
    36% { left:-400%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-200%; }
    76% { left:-200%; }
    80% { left:-100%; }
    96% { left:-100%; }
    100% { left:0%; }
}
@keyframes imgPassToRight5 {
    0% { left:-500%; }
    16% { left:-500%; }
    20% { left:-400%; }
    36% { left:-400%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-200%; }
    76% { left:-200%; }
    80% { left:-100%; }
    96% { left:-100%; }
    100% { left:0%; }
}
@-webkit-keyframes imgPassToLeft0 {
    0% { left:-100%; }
    16% { left:-100%; }
    20% { left:-200%; }
    36% { left:-200%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-400%; }
    76% { left:-400%; }
    80% { left:-500%; }
    96% { left:-500%; }
    100% { left:-600%; }
}
@-webkit-keyframes imgPassToLeft1 {
    0% { left:-100%; }
    16% { left:-100%; }
    20% { left:-200%; }
    36% { left:-200%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-400%; }
    76% { left:-400%; }
    80% { left:-500%; }
    96% { left:-500%; }
    100% { left:-600%; }
}
@-webkit-keyframes imgPassToLeft2 {
    0% { left:-100%; }
    16% { left:-100%; }
    20% { left:-200%; }
    36% { left:-200%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-400%; }
    76% { left:-400%; }
    80% { left:-500%; }
    96% { left:-500%; }
    100% { left:-600%; }
}
@-webkit-keyframes imgPassToLeft3 {
    0% { left:-100%; }
    16% { left:-100%; }
    20% { left:-200%; }
    36% { left:-200%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-400%; }
    76% { left:-400%; }
    80% { left:-500%; }
    96% { left:-500%; }
    100% { left:-600%; }
}
@-webkit-keyframes imgPassToLeft4 {
    0% { left:-100%; }
    16% { left:-100%; }
    20% { left:-200%; }
    36% { left:-200%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-400%; }
    76% { left:-400%; }
    80% { left:-500%; }
    96% { left:-500%; }
    100% { left:-600%; }
}
@-webkit-keyframes imgPassToLeft5 {
    0% { left:-100%; }
    16% { left:-100%; }
    20% { left:-200%; }
    36% { left:-200%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-400%; }
    76% { left:-400%; }
    80% { left:-500%; }
    96% { left:-500%; }
    100% { left:-600%; }
}
@-webkit-keyframes imgPassToRight1 {
    0% { left:-500%; }
    16% { left:-500%; }
    20% { left:-400%; }
    36% { left:-400%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-200%; }
    76% { left:-200%; }
    80% { left:-100%; }
    96% { left:-100%; }
    100% { left:0%; }
}
@-webkit-keyframes imgPassToRight2 {
    0% { left:-500%; }
    16% { left:-500%; }
    20% { left:-400%; }
    36% { left:-400%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-200%; }
    76% { left:-200%; }
    80% { left:-100%; }
    96% { left:-100%; }
    100% { left:0%; }
}
@-webkit-keyframes imgPassToRight3 {
    0% { left:-500%; }
    16% { left:-500%; }
    20% { left:-400%; }
    36% { left:-400%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-200%; }
    76% { left:-200%; }
    80% { left:-100%; }
    96% { left:-100%; }
    100% { left:0%; }
}
@-webkit-keyframes imgPassToRight4 {
    0% { left:-500%; }
    16% { left:-500%; }
    20% { left:-400%; }
    36% { left:-400%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-200%; }
    76% { left:-200%; }
    80% { left:-100%; }
    96% { left:-100%; }
    100% { left:0%; }
}
@-webkit-keyframes imgPassToRight5 {
    0% { left:-500%; }
    16% { left:-500%; }
    20% { left:-400%; }
    36% { left:-400%; }
    40% { left:-300%; }
    56% { left:-300%; }
    60% { left:-200%; }
    76% { left:-200%; }
    80% { left:-100%; }
    96% { left:-100%; }
    100% { left:0%; }
}

/*上のタブ用*/
.tabrow {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 45px;
}
.tabrow li {
    margin: 0 10px;
    padding: 0 10px;
    border: 1px solid #AAA;
    background: white;
    display: inline-block;
    font-size: larger;
}
/*選択されたタブ用*/
.tabrow li.selected {
    background: red;
    color: #000;
}
/*タブの下線*/
.tabrow {
    position: relative;
}
.tabrow:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid red;
    z-index: 1;
}
/*選択されたもののみ、下線を消去*/
.tabrow:before {
    z-index: 1;
}
.tabrow li {
    position: relative;
    z-index: 0;
}
.tabrow li.selected {
    z-index: 2;
    border-bottom-color: #FFF;
}
/*角丸を作成*/
.tabrow li:before,
.tabrow li:after {
    position: absolute;
    bottom: -1px;
    width: 6px;
    height: 6px;
    content: " ";
}
.tabrow li:before {
    left: -6px;
}
.tabrow li:after {
    right: -6px;
}
.tabrow li:after, .tabrow li:before {
    border: 1px solid #AAA;
}
.tabrow li {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.tabrow li:before {
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
}
.tabrow li:after {
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
}
.tabrow li:before {
    box-shadow: 2px 2px 0 red;
}
.tabrow li:after {
    box-shadow: -2px 2px 0 red;
}
.tabrow li:before {
    box-shadow: 2px 2px 0 #ECECEC;
}
.tabrow li:after {
    box-shadow: -2px 2px 0 #ECECEC;
}
.tabrow li.selected:before {
    box-shadow: 2px 2px 0 red;
}
.tabrow li.selected:after {
    box-shadow: -2px 2px 0 red;
}
.tabrow li {
    background:      -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background:     -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background:    -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    /*    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);*/
    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    text-shadow: 0 1px #FFF;
    margin: 0 -5px;
    padding: 0 20px;
}



/*---------------------------------------------------------------------*/
button#sansyo{
    width: 150px; 
    height:80px;
    background-color: rgba(255,255,255,0.8);
    cursor: pointer;
    padding: 10px;
    text-align : center;
    margin:auto;
    font-size: 20px; 
    font-family: Century Gothic;
    border-radius: 50px;
    border: 1px solid black;
}

.btn_orange{
    width: 230px; 
    height:60px;
    /*background-color: rgba(255,140,0,0.5);*/
    background-color: rgba(255,140,0,0.5);
    cursor: pointer;
    padding-top:5px;
    text-align : center;
    margin:auto;
    font-family: Century Gothic;
    border-radius: 50px;
    border: 1px solid black;
    color: rgba(250,250,250,0.8);
    font-weight: bold;
}
.btn_orange:hover{
    width: 230px; 
    height:60px;
    /*background-color: rgba(255,140,0,0.5);*/
    background-color: rgba(255,140,0,0.8);
    cursor: pointer;
    padding-top:5px;
    text-align : center;
    margin:auto;
    font-family: Century Gothic;
    border-radius: 50px;
    border: 1px solid black;
    color: rgba(250,250,250,0.8);
    font-weight: bold;
}
.modal-content{
    width: 95vmin;  
    margin: 0 auto;
    text-align: center;
    margin-left: -17vmin;
}