
button.usertoroku {
    width: 300px; 
    height:100px;
    background-color:rgba(255,255,255,0.9);
    cursor: pointer;
    padding: 25px;
    text-align : center;
    margin:auto;
    font-size: 35px; 
    font-family: Century Gothic;
    border-radius: 50px;
    border: 1px solid black;
}

h1.usertoroku {
    background: linear-gradient(transparent 60%,rgba(33,166,6,0.3));
    font-size: 55px;
}

.txt_usertoroku {
/*    display: inline-block;*/
    width: 95vmin;   
    text-align: left;
    padding: 40px 40px 45px 90px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.9);
}
.txt_usertoroku2 {
/*    display: inline-block;*/
    width: 95vmin;  
    text-align: center;
    padding: 40px 40px 45px 40px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.9);
}
.wrapper_usertoroku {
      width: 95vmin;  
/*    margin: 0 auto;*/
    text-align: center;
}

/*まるばつ用*/
.tabrow2 {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 45px;
    font-family: 'MS PGothic';
    display: inline-block;
}
.tabrow2 li {
    margin: 0 10px;
    padding: 0 10px;
    background: white;
    display: inline-block;
    font-size: larger;
    border-radius: 30px;
}
.tabrow2 li.selectedstatus {
    margin: 0 10px;
    padding: 0 10px;
    background: greenyellow;
    display: inline-block;
    font-size: larger;
    border-radius: 30px;
}
.icon_koshin {
    position: relative;
    width: 40px;
    height: 40px;
    border: 0;
    background-size:cover;
    background-image:  url(/jpg/icon_koshin.png);
/*    background-color: rgba(255,140,0,0.1);*/
/*    display: table-cell;*/
}

.btn_orange{
    width: 200px; 
    height:50px;
    background-color: rgba(255,140,0,0.7);
    cursor: pointer;
/*    padding: 25px;*/
    text-align : center;
    margin:auto;
/*    font-size: 5px; */
    font-family: Century Gothic;
    border-radius: 50px;
    border: 1px solid black;
    display: inline-block;
    _display: inline;
}
