body {
    font-size: 4.8vmin;
    background-image: url("/jpg/top3.jpg");
    /*  background-repeat: no-repeat;             背景を繰り返さない */
    background-position: 50% 50%;            /* 背景画像の位置は画面中央 */
    background-attachment:fixed;             /* 背景画像を固定する */
    /*    font-family: SimHei;*/
    width:100%;
}

button.tempentry {
    width: 300px; 
    height:100px;
    background-color:rgba(255,255,255,0.9);
    cursor: pointer;
    padding: 25px;
    text-align : center;
    margin:auto;
    font-size: 35px; 
    font-family: Century Gothic;
    border-radius: 50px;
    border: 1px solid black;
}

h1.tempentry {
    text-align: center;
    font-size: 45px;
}