
h1.usertoroku {
    background: linear-gradient(transparent 60%,rgba(33,166,6,0.3));
    font-size: 55px;
}
.txt_usertoroku2 {
/*    display: inline-block;*/
/*    width: 620px;  */
    text-align: center;
    padding: 40px 40px 45px 40px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.9);
}
