body {
    font-size: 4.8vmin;
 
    background-repeat: no-repeat;             
    background-position: 50% 50%;             /*背景画像の位置は画面中央*/ 
    background-attachment:fixed;            /*  背景画像を固定する */
    width:70%;
    height:100vh;
    background-image: url("/jpg/top3.jpg");
    background-size:cover;
}

.accordion {
    border: 0px solid #CCC;
    padding: 40px 10px 45px 10px;
    width:95vmin;
}

button,.accordion dt {
    width: 300px; 
    height:100px;
    background-color: rgba(255,255,255,0.8);
    cursor: pointer;
    padding: 25px;
    text-align : center;
    margin:auto;
    font-size: 35px; 
    font-family: Century Gothic;
    border-radius: 50px;
    border: 1px solid black;
}

#ttt{
    width: 550px; 
    height:150px;
    background-color: rgba(210,105,30,0.7);
    cursor: pointer;
    padding: 30px;
    text-align : center;
    margin:auto;
    font-size: 60px; 
    font-family:Gungsuh;
    border-radius: 100px;
    border: 4px solid #8B4513;
    color:white;
}

.accordion dd.show {
    overflow: hidden;
    height: 100%;
    transition: height 0.5s ease;
    width:95vmin;

}

.accordion dd {
    height: 0;
    overflow: hidden;

}

/* --- フォームエリア --- */
form.contact,
table.contact{
    width: 700px; /* フォームエリアの幅 */
    font-size: 80%;
}
/* --- フォームエリア内の段落 --- */
form.contact p ,
table.contact p{
    line-height: 130%;
}
/* --- 段落内の「必須」画像 --- */
form.contact p.attention img,
table.contact p.attention img{
    vertical-align: middle;
}

/* --- テーブル --- */
form.contact table ,
table.contact table{
    width: 100%; /* テーブルの幅 */
    background-color: #f9f9f9; /* テーブルの背景色 */
    border: 1px #c0c0c0 solid; /* テーブルの境界線 */
}
/* --- 見出しセル（th） --- */
form.contact th{
    width: 140px; /* 見出しセルの幅 */
    padding: 10px 8px; /* 見出しセルのパディング（上下、左右） */
    background-color: #f5f5f5; /* 見出しセルの背景色 */
    border-bottom: 1px #c0c0c0 dotted; /* 見出しセルの下境界線 */
    text-align: left;
    line-height: 130%;
}
table.contact th{
    width: 140px; /* 見出しセルの幅 */
    padding: 10px 8px; /* 見出しセルのパディング（上下、左右） */
    background-color: #AFEEEE; /* 見出しセルの背景色 */
    border-bottom: 1px #c0c0c0 dotted; /* 見出しセルの下境界線 */
    text-align: left;
    line-height: 130%;
}
/* --- 見出しセル内の補足テキスト --- */
form.contact th span.supplement,
table.contact th span.supplement{
    font-weight: normal;
}
/* --- データセル（td） --- */
form.contact td ,
table.contact td{
    padding: 10px 5px 7px; /* データセルのパディング（上、左右、下） */
    background-color: #ffffff; /* データセルの背景色 */
    border-bottom: 1px #c0c0c0 dotted; /* データセルの下境界線 */
}
/* --- データセル内の補足テキスト --- */
form.contact td span.supplement,
table.contact td span.supplement{
    color: #808080;
}
/* --- 必須項目セル --- */
form.contact td.required,
table.contact td.required{
    width: 26px; /* 必須項目セルの幅 */
    padding: 10px 3px; /* 必須項目セルのパディング（上下、左右） */
    background-color: #c4e6fa; /* 必須項目セルの背景色 */
    text-align: center;
}
/* --- 任意項目セル --- */
form.contact td.arbitrary,
table.contact td.arbitrary{
    background-color: #e0f1fc; /* 任意項目セルの背景色 */
}

/* --- フォーム部品 --- */
form.contact input,
form.contact select,
form.contact textarea,
table.contact input,
table.contact select,
table.contact textarea{
    margin-bottom: 5px; /* フォーム部品の下マージン */
}

/* --- ボタン --- */
form.contact p.button
table.contact p.button{
    /*    margin: 5px 0 0;  ボタンのマージン（上、左右、下） */
    text-align: center;
}

.icon {
    position: relative;
    margin: 0px;
    width: 150px;
    height: 150px;
    border-radius: 26px;
    background-size:cover;
    display: table-cell;

}

.other {
    /*    display: inline-block;*/
    text-align: left;
    padding: 40px 10px 45px 30px;
    border-radius: 50px;
    background-color: rgba(255,255,250,0.9);
}
.about {
    /*        display: inline-block;*/
    text-align: left;
    padding: 40px 10px 45px 30px;
    border-radius: 50px;
    background-color: rgba(240,240,240,0.9);




}
.contents {
    /*    display: inline-block;*/
    text-align: left;
    padding: 40px 10px 45px 30px;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.9);

}

.login {
    /*    display: inline-block;*/

    border-radius: 50px;
    background-color: rgba(255,255,255,0.9);
    font-size: 5.3vmin;
/*    width:100%;*/
     width:93vmin;

}

.login_text{
    text-align: left;
    padding: 40px 10px 45px 60px;
}

.icon_innerlink{
    transform: rotate(90deg);
    color: rgba(255,255,255,0.7);
    font-size:40px;
    width:10%;
}
.icon_innerlink2{
    color: rgba(255,255,255,0.7);
    font-size: 40px;
}
