
button.usertoroku {
    width: 300px; 
    height:100px;
    background-color:rgba(255,255,255,0.9);
    cursor: pointer;
    padding: 25px;
    text-align : center;
    margin:auto;
    font-size: 35px; 
    font-family: Century Gothic;
    border-radius: 50px;
    border: 1px solid black;
}

h1.usertoroku {
    background: linear-gradient(transparent 60%,rgba(33,166,6,0.3));
    font-size: 55px;
}

.txt_usertoroku {
/*    display: inline-block;*/
    width: 95vmin;   
    text-align: left;
    padding: 40px 40px 45px 90px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.9);
}
.txt_usertoroku2 {
/*    display: inline-block;*/
    width: 95vmin;  
    text-align: center;
    padding: 40px 40px 45px 40px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.9);
}
.wrapper_usertoroku{
    width: 95vmin;  
    margin: 0 auto;
    text-align: center;
}

